.screenshots-carousel .iphone-mask {
	background-image: url(../../images/iphone-mask.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.screenshots-carousel .iphone-mask {
		background-image: url(../../images/iphone-mask@2x.png);
	}
}

.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading { background: url(../../images/lightbox/loading.gif) no-repeat 50% 50%; }

.nivo-lightbox-theme-default .nivo-lightbox-prev { 
	background-image: url(../../images/lightbox/prev.png); 
}
.nivo-lightbox-theme-default .nivo-lightbox-next { 
	background-image: url(../../images/lightbox/next.png); 
}
.nivo-lightbox-theme-default .nivo-lightbox-close {
	background: url(../../images/lightbox/close.png) no-repeat 5px 5px;
}

@media (-webkit-min-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (min--moz-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3),
       (min-resolution: 1.3dppx) {

	.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading { 
		background-image: url(../images/lightbox/loading@2x.gif); 
		background-size: 32px 32px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-prev { 
		background-image: url(../images/lightbox/prev@2x.png); 
		background-size: 48px 48px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-next { 
		background-image: url(../images/lightbox/next@2x.png); 
		background-size: 48px 48px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-close { 
		background-image: url(../images/lightbox/close@2x.png); 
		background-size: 16px 16px;
	}
	
}
.page-template-page-template-demo .demo-creative {
	background: url(../../images/01_agency_bg.jpg) center center; 
}
.page-template-page-template-demo .demo-app {
	background: url(../../images/02_app_bg.jpg) center center; 
}
.page-template-page-template-demo .demo-personal {
	background: url(../../images/03_personal_bg.jpg) center center; 
}