//
//	===========================================
//	Theme customizer helpers
//	===========================================
//
.fontSize( @var ) when( @var = wprotoSystemNoValue ) {
	
}
.fontSize( @var ) when not( @var = wprotoSystemNoValue ) {
	font-size: ~'@{var}rem';
}

.fontSizeImportant( @var ) when( @var = wprotoSystemNoValue ) {
	
}
.fontSizeImportant( @var ) when not( @var = wprotoSystemNoValue ) {
	font-size: ~'@{var}rem' !important;
}
.increase-font-size( @var, @plus ) when( @var = wprotoSystemNoValue ) {
	
}
.increase-font-size( @var, @plus ) when not( @var = wprotoSystemNoValue ) {
	@size: @var + @plus;
	font-size: ~'@{size}rem';
}

.decrease-font-size( @var, @plus ) when( @var = wprotoSystemNoValue ) {
	
}
.decrease-font-size( @var, @minus ) when not( @var = wprotoSystemNoValue ) {
	@size: @var - @minus;
	font-size: ~'@{size}rem';
}

.fontFamilyPrimary( @var ) when( @var = wprotoSystemNoValue ) {
	font-family: 'fira_sanslight';
}
.fontFamilyPrimary( @var ) when not( @var = wprotoSystemNoValue ) {
	font-family: ~'@{var}';
}

.fontFamilySecondary( @var ) when( @var = wprotoSystemNoValue ) {
	font-family: 'fira_sansultralight';
}
.fontFamilySecondary( @var ) when not( @var = wprotoSystemNoValue ) {
	font-family: ~'@{var}';
}

.lineHeight( @var ) when( @var = wprotoSystemNoValue ) {
	
}
.lineHeight( @var ) when not( @var = wprotoSystemNoValue ) {
	line-height: ~'@{var}px';
}

.increase-lineHeight( @var, @plus ) when( @var = wprotoSystemNoValue ) {
	
}
.increase-lineHeight( @var, @plus ) when not( @var = wprotoSystemNoValue ) {
	@size: @var + @plus;
	line-height: ~'@{size}px';
}

.decrease-lineHeight( @var, @plus ) when( @var = wprotoSystemNoValue ) {
	
}
.decrease-lineHeight( @var, @minus ) when not( @var = wprotoSystemNoValue ) {
	@size: @var - @minus;
	line-height: ~'@{size}px'; 
}

.fontWeight( @var ) when( @var = wprotoSystemNoValue ) {
	
}
.fontWeight( @var ) when not( @var = wprotoSystemNoValue ) {
	font-weight: ~'@{var}';
}

.textTransform( @var ) when( @var = wprotoSystemNoValue ) {
	
}
.textTransform( @var ) when not( @var = wprotoSystemNoValue ) {
	text-transform: ~'@{var}';
}

.fontVariant( @var ) when( @var = wprotoSystemNoValue ) {
	
}
.fontVariant( @var ) when not( @var = wprotoSystemNoValue ) {
	font-variant: ~'@{var}';
}
.fontStyle( @var ) when( @var = wprotoSystemNoValue ) {
	
}
.fontStyle( @var ) when not( @var = wprotoSystemNoValue ) {
	font-style: ~'@{var}';
}

.bgImage( @var ) when( @var = wprotoSystemNoValue ) {
	
}
.bgImage( @var ) when not( @var = wprotoSystemNoValue ) {
	background-image: ~'url(@{var})';
}

.bgImageRepeat( @var ) when( @var = wprotoSystemNoValue ) {
	
}
.bgImageRepeat( @var ) when not( @var = wprotoSystemNoValue ) {
	background-repeat: ~'@{var}';
}

.bgImagePosition( @var ) when( @var = wprotoSystemNoValue ) {
	
}
.bgImagePosition( @var ) when not( @var = wprotoSystemNoValue ) {
	background-position: ~'@{var}';
}

.bgImageSize( @var ) when( @var = wprotoSystemNoValue ) {
	background-size: 100% 100%;
}
.bgImageSize( @var ) when not( @var = wprotoSystemNoValue ) {
	background-size: ~'@{var}';
}

.bgImageFixed( @var ) when( @var = wprotoSystemNoValue ) {
	
}
.bgImageFixed( @var ) when not( @var = wprotoSystemNoValue ) {
	background-attachment: ~'@{var}';
}

//
//	===========================================
//	Gradients
//	===========================================
//
.grad-orange() {
	background: #e5493a;
	background: linear-gradient(225deg, #e5493a, #ee6f2c, #f7941e);
	background-size: 600% 600%;
	-webkit-animation: AnimateGradient 4s ease infinite;
	-moz-animation: AnimateGradient 4s ease infinite;
	-o-animation: AnimateGradient 4s ease infinite;
	animation: AnimateGradient 4s ease infinite;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5493a', endColorstr='#f7941e',GradientType=1 );
}
.grad-orange {
	.grad-orange();
}

//
//	===========================================
//	SVG Images as background
//	===========================================
//

// GRADIENT IMAGES
.img-service-ruler( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 186.623 186.623" style="enable-background:new 0 0 186.623 186.623;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="67%" stop-color="@{color_2}" /></linearGradient></defs><g><g><path d="M151.994,7.634l26.999,26.995l-8.224,8.221l-9.276-9.262c-0.633-0.641-1.668-0.644-2.308,0 c-0.644,0.644-0.644,1.675,0,2.316l9.273,9.266l-6.642,6.646l-9.276-9.269c-0.641-0.637-1.675-0.637-2.312,0 c-0.637,0.641-0.637,1.678,0,2.316l9.262,9.262l-7.526,7.533l-9.273-9.266c-0.63-0.648-1.678-0.644-2.316,0 c-0.633,0.641-0.633,1.678,0,2.316l9.276,9.266l-7.272,7.272l-17.064-17.05c-0.633-0.644-1.675-0.644-2.308,0 c-0.644,0.644-0.644,1.678,0,2.316l17.05,17.05l-10.529,10.536l-9.276-9.266c-0.641-0.644-1.671-0.644-2.319,0 c-0.641,0.641-0.641,1.671,0,2.312l9.269,9.266l-1.8,1.797l4.635,4.627l53.59-53.583c2.559-2.552,2.559-6.707,0-9.266 L156.643,2.992c-2.57-2.555-6.721-2.555-9.276,0l-53.583,53.59l4.62,4.635L151.994,7.634z"/><path d="M86.411,127.203l-9.266-9.266c-0.641-0.644-1.675-0.644-2.316,0c-0.644,0.651-0.641,1.678,0,2.316 l9.266,9.28L73.56,140.059l-17.05-17.05c-0.637-0.644-1.671-0.644-2.316,0c-0.641,0.633-0.644,1.675,0,2.308l17.05,17.064 l-7.272,7.272l-9.266-9.276c-0.637-0.633-1.675-0.633-2.316,0c-0.644,0.641-0.644,1.689,0,2.316l9.266,9.273l-7.53,7.526 l-9.262-9.258c-0.641-0.641-1.678-0.641-2.319-0.004c-0.637,0.641-0.633,1.675,0,2.312l9.269,9.28l-6.642,6.639l-9.266-9.273 c-0.641-0.644-1.675-0.644-2.316,0c-0.641,0.641-0.637,1.675,0.004,2.308l9.262,9.276l-8.221,8.224L7.634,152.001l53.583-53.593 l-4.635-4.624L3.003,147.37c-2.559,2.555-2.555,6.707,0,9.276l26.992,26.985c2.555,2.555,6.71,2.555,9.262,0l53.583-53.59 l-4.631-4.638L86.411,127.203z"/><path d="M186.283,180.185c-16.03-34.901-17.443-36.311-17.977-36.851L27.357,3.321 c-2.92-2.92-7.68-2.92-10.601,0L2.19,17.891c-2.92,2.92-2.92,7.673,0,10.597l140.946,140.019 c0.601,0.594,2.011,1.997,38.333,16.713c1.421,0.573,3.056,0.225,4.109-0.884C186.651,183.23,186.92,181.584,186.283,180.185z M7.483,23.195L22.049,8.622l16.355,16.359L23.849,39.55L7.483,23.195z M29.146,44.85l14.566-14.569l116.645,115.708 l-14.562,14.562L29.146,44.85z M152.123,164.831l12.648-12.658c2.423,4.846,6.499,13.467,10.704,22.522 C166.127,170.848,157.18,167.09,152.123,164.831z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-service-settings( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 204.993 204.993" style="enable-background:new 0 0 204.993 204.993;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="67%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><g><path d="M113.711,202.935H92.163c-3.242,0-4.373,0.007-15.421-27.364l-8.532-3.468 c-23.248,10.547-26,10.547-26.92,10.547h-1.779l-1.517-1.303l-15.275-14.945c-2.323-2.319-3.128-3.124,8.825-30.137 l-3.479-8.231C0,117.977,0,116.81,0,113.496V92.37c0-3.31,0-4.355,27.972-15.171l3.479-8.249 c-12.644-26.602-11.774-27.428-9.28-29.776l16.427-16.105l2.04-0.064c2.48,0,11.681,3.357,27.371,9.981l8.507-3.454 C86.758,2.054,88.015,2.058,91.246,2.058h21.548c3.228,0,4.363,0.004,15.411,27.382l8.546,3.443 c23.212-10.533,26-10.533,26.927-10.533h1.768l1.517,1.281l15.275,14.92c2.323,2.344,3.117,3.146-8.836,30.17l3.489,8.278 c28.101,10.014,28.101,11.177,28.101,14.498v21.101c0,3.232,0,4.37-28.008,15.192l-3.457,8.256 c12.58,26.487,11.749,27.317,9.394,29.69l-16.552,16.205l-2.051,0.057c-2.469,0-11.649-3.361-27.317-9.992l-8.557,3.457 C118.174,202.935,117.007,202.935,113.711,202.935z M94.403,194.213h16.996c1.95-3.976,6.166-14.516,9.541-23.595l0.68-1.807 l15.475-6.249l1.664,0.705c9.223,3.933,20.124,8.292,24.372,9.631l11.943-11.681c-1.517-4.205-6.116-14.494-10.264-23.173 l-0.837-1.764l6.403-15.285l1.743-0.673c9.316-3.586,20.11-8.013,24.143-10.032V93.88c-4.08-1.918-14.831-6.009-24.096-9.294 l-1.814-0.648l-6.445-15.3l0.769-1.725c3.965-8.947,8.375-19.501,9.788-23.753l-11.975-11.706 c-3.865,1.349-14.688,5.987-23.817,10.153l-1.7,0.78l-15.475-6.238l-0.691-1.721c-3.658-9.13-8.203-19.716-10.253-23.635 H93.569c-1.961,3.965-6.163,14.509-9.53,23.585l-0.669,1.797l-15.432,6.27l-1.664-0.712 c-9.244-3.926-20.167-8.278-24.429-9.616L29.923,43.805c1.496,4.198,6.109,14.48,10.243,23.159l0.848,1.768L34.579,84.01 l-1.732,0.669c-9.301,3.582-20.077,8.006-24.111,10.017v16.431c4.08,1.925,14.82,6.027,24.079,9.326l1.8,0.655l6.446,15.249 l-0.769,1.721c-3.965,8.94-8.371,19.48-9.788,23.724l12,11.742c3.854-1.36,14.663-5.998,23.803-10.168l1.711-0.784 l15.443,6.277l0.691,1.721C87.821,179.723,92.352,190.291,94.403,194.213z M102.495,137.653 c-19.759,0-35.849-15.772-35.849-35.159c0-19.372,16.087-35.134,35.849-35.134c19.748,0,35.799,15.765,35.799,35.134 C138.294,121.881,122.243,137.653,102.495,137.653z M102.495,76.09c-14.956,0-27.113,11.846-27.113,26.405 c0,14.569,12.154,26.426,27.113,26.426c14.931,0,27.078-11.857,27.078-26.426C129.569,87.936,117.426,76.09,102.495,76.09z"/></g></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-service-hand( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="429.183px" height="429.183px" viewBox="0 0 429.183 429.183" style="enable-background:new 0 0 429.183 429.183;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="67%" stop-color="@{color_2}" /></linearGradient></defs><g><g><path d="M400.061,77.791c-3.845,0-6.968-3.54-6.968-7.901V37.375c0-13.068-10.648-23.717-23.714-23.717H222.504 c-13.068,0-23.72,10.648-23.72,23.717v28.282c0,4.359-3.529,8.343-7.726,9.526c-19.883,5.642-31.092,20.589-36.434,30.818 c-2.021,3.872-6.642,7.973-10.783,9.339c-16.59,5.489-32.271,16.32-40.645,28.446L34.07,243.858 c-11.637,16.863-24.293,43.787-28.196,60.006l-5.601,23.242c-1.018,4.245,0.894,8.343,4.276,9.155 c3.379,0.812,6.952-1.965,7.97-6.21l5.586-23.222c3.618-14.98,15.419-40.01,26.322-55.792l69.126-100.079 c10.237-14.828,33.235-26.875,51.247-26.875h52.44h4.639h47.357c10.399,0,18.859,8.455,18.859,18.842v3.936 c0,10.395-8.455,18.857-18.859,18.857h-47.357h-4.639h-42.835c-3.469,0-6.294,2.818-6.294,6.296c0,3.469,2.818,6.294,6.294,6.294 h16.48c4.359,0,7.898,3.54,7.898,7.901v1.912c0,4.362-0.962,11.312-2.511,15.389c-23.13,60.989-95.598,70.043-99.051,70.444 c-1.673,0.168-3.166,1.006-4.225,2.315c-1.051,1.311-1.526,2.961-1.343,4.631c0.355,3.189,3.042,5.597,6.294,5.597 c0.01,0,0.65-0.046,0.65-0.046c0.812-0.086,62.101-7.581,95.755-53.456c2.582-3.519,4.43-2.996,4.43,1.366V339.39 c0,6.779,2.869,12.889,7.452,17.199c3.174,2.996,3.768,6.581,0.15,9.029c-25.786,17.453-54.55,21.078-73.938,21.078 c-10.679,0-17.783-1.147-18.547-1.265c-1.574-0.31-3.184,0.168-4.41,1.204c-1.208,1.016-1.902,2.508-1.902,4.107v19.394 c0,2.96,2.425,5.388,5.403,5.388c2.971,0,5.395-2.428,5.395-5.388c0,0,0-2.996,0-6.683c0-3.692,2.757-6.449,6.17-6.322 c1.881,0.071,3.951,0.117,6.185,0.117c23.552,0,59.615-4.784,89.888-29.001c3.402-2.722,9.536-5.124,13.894-5.124h134.841 c13.065,0,23.714-10.668,23.714-23.734v-66.856c0-4.362,3.123-7.901,6.967-7.901h6.967c12.223,0,22.171-11.816,22.171-26.354 v-2.097c0-5.525-1.453-10.624-3.926-14.838c-2.203-3.769-2.203-8.471,0-12.238c2.463-4.22,3.926-9.313,3.926-14.838v-2.1 c0-5.522-1.453-10.618-3.926-14.846c-2.198-3.768-2.203-8.475,0-12.243c2.463-4.22,3.926-9.315,3.926-14.838v-2.1 c0-5.522-1.453-10.618-3.926-14.838c-2.203-3.768-2.203-8.467,0-12.228c2.463-4.22,3.926-9.315,3.926-14.838v-2.1 c0-14.536-9.948-26.354-22.171-26.354C407.037,77.791,403.919,77.791,400.061,77.791z M229.775,178.294h39.461 c17.352,0,31.453-14.102,31.453-31.443v-3.933c0-17.326-14.102-31.435-31.453-31.435h-39.461c-4.357,0-7.896-3.54-7.896-7.899 V64.763c0-4.359,3.539-7.898,7.896-7.898h132.327c4.361,0,7.901,3.539,7.901,7.898v244.703c0,4.361-3.54,7.901-7.901,7.901 H229.775c-4.357,0-7.896-3.54-7.896-7.901V186.195C221.879,181.833,225.418,178.294,229.775,178.294z M369.379,353.842H222.504 c-7.958,0-14.437-6.495-14.437-14.457V215.99c0-4.357-0.132-7.574-0.322-7.186c-0.183,0.386,1.018-2.584,2.354-6.73 c1.604-5.018,2.922-10.326,3.895-15.942c0.744-4.299,1.579-7.823,2.173-7.823c0.592,0,1.074,3.54,1.074,7.901v133.472 c0,1.279,1.033,2.33,2.313,2.33h152.771c1.279,0,2.315-1.051,2.315-2.33V54.549c0-1.28-1.036-2.331-2.315-2.331H219.554 c-1.28,0-2.313,1.051-2.313,2.331v49.035c0,4.359-3.539,7.899-7.901,7.899h-35.731c-4.36,0-6.391-3.222-3.816-6.746 c5.72-7.835,15.571-16.384,30.227-18.692c4.306-0.678,7.876-3.255,7.876-6.533c0-3.27,0.094-9.463,0.119-13.825 c0.063-10.656,0.063-28.312,0.063-28.312c0-7.965,6.477-14.442,14.432-14.442h146.875c7.973,0,14.438,6.477,14.438,14.442v302.01 C383.811,347.347,377.352,353.842,369.379,353.842z M407.037,253.826c0,0-2.544,0-5.688,0c-3.143,0-5.687-3.539-5.687-7.901 v-17.402c0-4.361,2.544-7.901,5.687-7.901h5.688c6.271,0,11.37,6.978,11.37,15.56v2.097 C418.407,246.849,413.309,253.826,407.037,253.826z M407.037,209.815c0,0-2.544,0-5.688,0c-3.143,0-5.687-3.54-5.687-7.901 v-17.417c0-4.362,2.544-7.901,5.687-7.901h5.688c6.271,0,11.37,6.993,11.37,15.572v2.1 C418.407,202.838,413.309,209.815,407.037,209.815z M407.037,165.797c0,0-2.544,0-5.688,0c-3.143,0-5.687-3.539-5.687-7.901 v-17.402c0-4.362,2.544-7.901,5.687-7.901h5.688c6.271,0,11.37,6.978,11.37,15.557v2.1 C418.407,158.82,413.309,165.797,407.037,165.797z M407.037,121.794c0,0-2.544,0-5.688,0c-3.143,0-5.687-3.54-5.687-7.901V96.475 c0-4.362,2.544-7.901,5.687-7.901h5.688c6.271,0,11.37,6.993,11.37,15.572v2.102C418.407,114.816,413.309,121.794,407.037,121.794 z"/><path d="M308.981,33.473h-26.075c-1.274,0-2.315,1.033-2.315,2.312c0,1.28,1.041,2.331,2.315,2.331h26.075 c1.279,0,2.315-1.051,2.315-2.331C311.297,34.506,310.261,33.473,308.981,33.473z"/><path d="M309.296,327.294h-26.71c-5.474,0-9.952,4.459-9.952,9.938v1.59c0,5.475,4.474,9.953,9.952,9.953h26.71 c5.479,0,9.958-4.469,9.958-9.953v-1.59C319.244,331.758,314.775,327.294,309.296,327.294z M314.598,338.821 c0,2.93-2.376,5.312-5.307,5.312h-26.71c-2.925,0-5.312-2.382-5.312-5.312v-1.59c0-2.93,2.387-5.306,5.312-5.306h26.71 c2.931,0,5.307,2.376,5.307,5.306V338.821z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-service-monitor( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 201.611 201.611" style="enable-background:new 0 0 201.611 201.611;" xml:space="preserve"><style type="text/css">path,polygon{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="67%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><path d="M0,27.539v130.345h201.611V27.539H0z M195.903,152.183H5.708V33.24h190.194 C195.903,33.24,195.903,152.183,195.903,152.183z"/></g><g><polygon points="62.78,174.072 99.252,174.072 136.526,174.072 136.526,164.255 62.78,164.255 			"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}

.img-load( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="67%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g><g><path d="M46.109,36.354l-12-7.978c-0.613-0.409-1.402-0.446-2.053-0.099C31.405,28.624,31,29.299,31,30.035v1.4L33,32 c0-0.603,0-1.531,0-1.531s0.907,0.016,1.411,0.351l9.389,5.776c0.457,0.303,0.731,0.813,0.731,1.357 c0,0.546-0.274,0.931-0.731,1.232l-9.389,6.184C33.907,45.702,33,45.656,33,45.656s0-1.055,0-1.656v-4 c-5.848,0-12.639-2.488-12.987-11h-0.971C19.012,29.342,19,29.687,19,30.035c0,6.607,5.372,11.966,12,11.966v3.989 c0,0.736,0.406,1.412,1.057,1.759c0.651,0.347,1.439,0.308,2.053-0.101l12-7.978C46.666,39.302,47,38.68,47,38.014 S46.666,36.725,46.109,36.354z"/></g></g><g><g><path d="M31,25c5.512,0,11.861,2.21,12.868,9.589L45,34.965c0-6.608-5.372-11.966-12-11.966V19.01 c0-0.735-0.404-1.412-1.057-1.758c-0.649-0.347-1.439-0.309-2.053,0.099l-12,7.978C17.334,25.698,17,26.32,17,26.987 c0,0.666,0.334,1.29,0.891,1.659l12,7.978c0.613,0.409,1.403,0.446,2.053,0.101c0.652-0.35,1.056-1.023,1.056-1.76v-5.873 C32.366,29.037,31.707,29,31,29v4c0,0.604,0,1.531,0,1.531s-0.907-0.016-1.41-0.352l-9.39-5.776 c-0.456-0.303-0.731-0.812-0.731-1.357c0-0.546,0.275-0.93,0.731-1.233l9.39-6.183c0.503-0.333,1.41-0.287,1.41-0.287 s0,1.054,0,1.656V25z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-tray( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="67%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g><g><path d="M48,33l-4-11c0-1.104-0.896-2-2-2H22c-1.104,0-2,0.896-2,2l-4,11c0,0.366,0.105,0.705,0.277,1 C16.105,34.295,16,34.634,16,35v8c0,1.104,0.896,2,2,2h28c1.104,0,2-0.896,2-2v-8c0-0.366-0.105-0.705-0.277-1 C47.895,33.705,48,33.366,48,33z M46,43H18v-8h7v2c0,1.104,0.896,2,2,2h10c1.104,0,2-0.896,2-2v-2h7V43z M39,33 c-1.157,0-2,1.062-2,2c0,1.057,0,2,0,2H27c0,0,0-0.928,0-2c0-0.915-0.957-2-2-2c-2.622,0-7,0-7,0l4-11h20l4,11 C46,33,41.65,33,39,33z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-fav( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="75%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62.001c-16.568,0-30-13.433-30-30 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30.001C62,48.568,48.568,62.001,32,62.001z"/></g></g><g><g><path d="M47,28H36l-2.76-10.043C33.087,17.404,32.593,17,32,17c-0.594,0-1.086,0.404-1.24,0.957L27,28H17 c-0.714,0-1,0.41-1,1.137c0,0.445,0.22,0.843,0.554,1.079c0.206,0.142,8.347,6.152,8.347,6.152s-3.127,9.705-3.188,9.858 c-0.046,0.143-0.079,0.297-0.079,0.459c0,0.729,0.579,1.313,1.293,1.313c0.273,0,0.526-0.088,0.74-0.235L32,41.631 c0,0,8.146,5.999,8.334,6.135C40.546,47.912,40.8,48,41.073,48c0.714,0,1.293-0.593,1.293-1.314c0-0.16-0.032-0.315-0.079-0.457 c-0.061-0.154-3.188-9.859-3.188-9.859s8.141-6.011,8.346-6.152C47.779,29.979,48,29.582,48,29.131C48,28.41,47.714,28,47,28z M42.338,31.144c-0.123,0.084-6.122,3.653-6.122,3.653s2.938,7.512,2.976,7.604c0.027,0.084,0.047,0.178,0.047,0.272 c0,0.429-0.344,0.78-0.768,0.78c-0.162,0-0.312-0.053-0.438-0.141C37.92,43.232,32,38.962,32,38.962l-5.76,4.228 c-0.127,0.088-0.277,0.14-0.439,0.14c-0.424,0-0.769-0.349-0.769-0.78c0-0.096,0.021-0.188,0.048-0.271 c0.036-0.092,2.704-7.479,2.704-7.479s-5.896-3.569-6.018-3.653c-0.198-0.14-0.329-0.376-0.329-0.641 c0-0.432,0.201-0.519,0.625-0.519H29l2.264-6.119c0.091-0.328,0.384-0.568,0.736-0.568c0.352,0,0.646,0.24,0.736,0.568 l1.856,6.119l7.448,0.031c0.424,0,0.625,0.056,0.625,0.483C42.667,30.768,42.536,31.004,42.338,31.144z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-users( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="75%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32.001 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30.001C62,48.568,48.568,62,32,62z"/></g></g><g><g><path d="M43,33c3.312,0,6-2.687,6-6s-2.688-6-6-6s-6,2.687-6,6S39.688,33,43,33z M43,23c2.209,0,4,1.791,4,4s-1.791,4-4,4 s-4-1.791-4-4S40.791,23,43,23z M43,35c-3.68,0-6.762,2.492-7.693,5.875C33.213,37.361,29.387,35,25,35 c-5.055,0-9.368,3.131-11.134,7.557c-0.551,2.034,0.023,3.576,0.426,3.857C18.554,51.586,24.32,55.004,32,55 c7.896-0.004,14.671-3.982,18.812-10.044L51,41C50.107,37.561,46.721,35,43,35z M35,52.784C34.021,52.925,33.02,53,32,53 c-6.828,0-12.884-3.268-16.718-8.314C16.328,40.28,20.276,37,25,37c5.186,0,9.447,3.947,9.949,9H35V52.784z M37,52.386V41h0.367 c0.826-2.325,3.023-4,5.633-4c2.973,0,5.421,2.165,5.898,5H49v2h0.189C46.316,48.114,42.018,51.154,37,52.386z M25,33 c4.971,0,9-4.029,9-9s-4.029-9-9-9s-9,4.029-9,9S20.029,33,25,33z M25,17c3.866,0,7,3.134,7,7s-3.134,7-7,7s-7-3.134-7-7 S21.134,17,25,17z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-share( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="75%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g><g><path d="M42,34c-0.494,0-0.963,0.102-1.4,0.266l-5.213-8.156C35.77,25.496,36,24.777,36,24c0-2.209-1.791-4-4-4s-4,1.791-4,4 c0,0.911,0.316,1.74,0.829,2.413l-0.134-0.086l-5.155,7.981C23.065,34.111,22.546,34,22,34c-2.209,0-4,1.791-4,4s1.791,4,4,4 s4-1.791,4-4c0-0.936-0.334-1.783-0.871-2.465l5.134-7.947C30.79,27.844,31.374,28,32,28c0.688,0,1.323-0.189,1.889-0.494 l5.067,7.928C38.368,36.13,38,37.018,38,38c0,2.209,1.791,4,4,4s4-1.791,4-4S44.209,34,42,34z M22,40c-1.104,0-2-0.896-2-2 s0.896-2,2-2c0.144,0,0.283,0.018,0.418,0.045L22.4,36.073l1.262,0.813C23.875,37.206,24,37.588,24,38 C24,39.104,23.104,40,22,40z M32,26c-1.104,0-2-0.896-2-2s0.896-2,2-2c1.104,0,2,0.896,2,2S33.104,26,32,26z M42,40 c-1.104,0-2-0.896-2-2s0.896-2,2-2s2,0.896,2,2S43.104,40,42,40z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-docs( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="75%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g><g><path d="M37.016,31.555l-6.57-6.569L30,25.431V25h-7c-1.104,0-2,0.896-2,2v18c0,1.104,0.896,2,2,2h12c1.104,0,2-0.896,2-2V32 h-0.432L37.016,31.555z M30,27.46L34.54,32H30V27.46z M35,45H23V27h5v5c0,1.104,0.896,2,2,2h5V45z"/></g></g><g><g><path d="M44.016,23.555l-6.57-6.569L37,17.431V17h-7c-1.104,0-2,0.896-2,2v4h2v-4h5v5c0,1.104,0.896,2,2,2h5v11h-3v2h3 c1.104,0,2-0.896,2-2V24h-0.432L44.016,23.555z M37,24v-4.54L41.54,24H37z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-clock( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="75%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g><g><path d="M63,31h-2c-0.552,0-1,0.447-1,1s0.448,1,1,1h2c0.552,0,1-0.447,1-1S63.552,31,63,31z M3,31H1c-0.552,0-1,0.447-1,1 s0.448,1,1,1h2c0.552,0,1-0.447,1-1S3.552,31,3,31z M32,60c-0.552,0-1,0.447-1,1v2c0,0.553,0.448,1,1,1s1-0.447,1-1v-2 C33,60.447,32.552,60,32,60z M32,0c-0.552,0-1,0.447-1,1v2c0,0.553,0.448,1,1,1s1-0.447,1-1V1C33,0.447,32.552,0,32,0z"/></g></g><g><g><path d="M33,12c0-0.552-0.448-1-1-1s-1,0.448-1,1v14h2V12z M32,28c-2.209,0-4,1.791-4,4s1.791,4,4,4s4-1.791,4-4 S34.209,28,32,28z M32,34c-1.104,0-2-0.896-2-2c0-1.104,0.896-2,2-2c1.104,0,2,0.896,2,2C34,33.104,33.104,34,32,34z M46,31h-8 v2h8c0.552,0,1-0.447,1-1C47,31.448,46.552,31,46,31z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-webcam( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="67%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g><g><path d="M32,16c-6.075,0-11,4.925-11,11c0,0.341,0.048,0.668,0.079,1H21v9c0,6.075,4.925,11,11,11 c5.736,0,10.443-4.395,10.949-10H43V27C43,20.925,38.075,16,32,16z M32,46c-4.971,0-9-4.029-9-9s4.029-9,9-9 c4.971,0,9,4.029,9,9S36.971,46,32,46z M41,30.688C39.01,27.855,35.725,26,32,26c-3.724,0-7.01,1.855-9,4.688V27 c0-4.971,4.029-9,9-9c4.971,0,9,4.029,9,9V30.688z M32,33c-2.209,0-4,1.791-4,4c0,1.861,1.278,3.412,3,3.857V42 c0,0.553,0.448,1,1,1c0.553,0,1-0.447,1-1v-1.143c1.723-0.445,3-1.996,3-3.857C36,34.791,34.209,33,32,33z M32,39 c-1.104,0-2-0.896-2-2s0.896-2,2-2c1.104,0,2,0.896,2,2S33.104,39,32,39z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-eye( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="67%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g><g><path d="M32,22c-5.633,0-15,4.478-15,10c0,5.521,9.367,10,15,10c5.634,0,15-4.479,15-10C47,26.478,37.634,22,32,22z M32,40.003 c-4.685,0-13.01-3.583-13.01-8.003s8.325-8.003,13.01-8.003c4.686,0,13.01,3.583,13.01,8.003S36.686,40.003,32,40.003z"/></g></g><g><g><path d="M32,26c-3.313,0-6,2.687-6,6c0,3.312,2.687,6,6,6c3.312,0,6-2.688,6-6C38,28.687,35.312,26,32,26z M32,36 c-2.209,0-4-1.791-4-4s1.791-4,4-4s4,1.791,4,4S34.209,36,32,36z"/></g></g><g><g><path d="M36.857,30.864c-0.431-1.846-1.877-3.292-3.723-3.723C31.903,27.514,31,28.646,31,30c0,1.657,1.343,3,3,3 C35.354,33,36.486,32.098,36.857,30.864z M33,30c0-0.553,0.447-1,1-1s1,0.447,1,1s-0.447,1-1,1S33,30.553,33,30z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-chat( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="67%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g><g><path d="M48,23c0-3.313-2.688-6-6-6H28c-3.313,0-6,2.687-6,6v8c0,3.312,2.687,6,6,6h11.93l6.204,4.665 c0.479,0.479,0.919,0.548,1.397,0.272c0.363-0.211,0.511-0.52,0.457-0.91C47.988,41.008,48,31.343,48,31V23z M46,39.441 l-5.116-3.976c-0.25-0.437-0.772-0.595-1.227-0.422c0.002-0.015,0.003-0.03,0.005-0.045H28c-2.209,0-4-1.791-4-4v-8 c0-2.209,1.791-4,4-4h14c2.209,0,4,1.791,4,4V39.441z"/></g></g><g><g><path d="M31,24c-1.656,0-3,1.343-3,3s1.344,3,3,3c1.657,0,3-1.343,3-3S32.657,24,31,24z M31,28c-0.552,0-1-0.447-1-1 c0-0.552,0.448-1,1-1c0.553,0,1,0.448,1,1C32,27.553,31.553,28,31,28z"/></g></g><g><g><path d="M39,24c-1.656,0-3,1.343-3,3s1.344,3,3,3c1.657,0,3-1.343,3-3S40.657,24,39,24z M39,28c-0.552,0-1-0.447-1-1 c0-0.552,0.448-1,1-1c0.553,0,1,0.448,1,1C40,27.553,39.553,28,39,28z"/></g></g><g><g><path d="M33.992,37c-0.04,2.164-1.809,3.908-3.992,3.908h-5.661c0.002,0.015,0.002,0.029,0.004,0.044 c-0.454-0.172-0.976-0.015-1.227,0.421L18,45.329V32.973c0-2.199,1.791-3.98,4-3.98V28c0-0.341,0.035-0.674,0.09-1H22 c-3.313,0-6,2.674-6,5.973v3.954c0,0.341,0.011,9.962,0.012,9.981c-0.054,0.389,0.094,0.695,0.457,0.904 c0.479,0.274,0.919,0.205,1.397-0.271l6.204-4.644H30c3.289,0,5.956-2.635,5.996-5.898H33.992z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-star( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="75%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62.001c-16.568,0-30-13.433-30-30 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30.001C62,48.568,48.568,62.001,32,62.001z"/></g></g><g><g><path d="M47,28H36l-2.76-10.043C33.087,17.404,32.593,17,32,17c-0.594,0-1.086,0.404-1.24,0.957L27,28H17 c-0.714,0-1,0.41-1,1.137c0,0.445,0.22,0.843,0.554,1.079c0.206,0.142,8.347,6.152,8.347,6.152s-3.127,9.705-3.188,9.858 c-0.046,0.143-0.079,0.297-0.079,0.459c0,0.729,0.579,1.313,1.293,1.313c0.273,0,0.526-0.088,0.74-0.235L32,41.631 c0,0,8.146,5.999,8.334,6.135C40.546,47.912,40.8,48,41.073,48c0.714,0,1.293-0.593,1.293-1.314c0-0.16-0.032-0.315-0.079-0.457 c-0.061-0.154-3.188-9.859-3.188-9.859s8.141-6.011,8.346-6.152C47.779,29.979,48,29.582,48,29.131C48,28.41,47.714,28,47,28z M42.338,31.144c-0.123,0.084-6.122,3.653-6.122,3.653s2.938,7.512,2.976,7.604c0.027,0.084,0.047,0.178,0.047,0.272 c0,0.429-0.344,0.78-0.768,0.78c-0.162,0-0.312-0.053-0.438-0.141C37.92,43.232,32,38.962,32,38.962l-5.76,4.228 c-0.127,0.088-0.277,0.14-0.439,0.14c-0.424,0-0.769-0.349-0.769-0.78c0-0.096,0.021-0.188,0.048-0.271 c0.036-0.092,2.704-7.479,2.704-7.479s-5.896-3.569-6.018-3.653c-0.198-0.14-0.329-0.376-0.329-0.641 c0-0.432,0.201-0.519,0.625-0.519H29l2.264-6.119c0.091-0.328,0.384-0.568,0.736-0.568c0.352,0,0.646,0.24,0.736,0.568 l1.856,6.119l7.448,0.031c0.424,0,0.625,0.056,0.625,0.483C42.667,30.768,42.536,31.004,42.338,31.144z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-equalizer( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="75%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32.001 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30.001C62,48.568,48.568,62,32,62z"/></g></g><g><g><path d="M33,32.143V20h-2v12.143c-1.722,0.445-3,1.996-3,3.857s1.278,3.412,3,3.857V44h2v-4.143c1.723-0.445,3-1.996,3-3.857 S34.723,32.588,33,32.143z M32,38c-1.104,0-2-0.896-2-2s0.896-2,2-2c1.104,0,2,0.896,2,2S33.104,38,32,38z M25,23.142V20h-2 v3.142c-1.722,0.446-3,1.997-3,3.858s1.278,3.412,3,3.858V44h2V30.858c1.722-0.446,3-1.997,3-3.858S26.722,23.588,25,23.142z M24,29c-1.104,0-2-0.896-2-2s0.896-2,2-2s2,0.896,2,2S25.104,29,24,29z M41,23.142V20h-2v3.142c-1.723,0.446-3,1.997-3,3.858 s1.277,3.412,3,3.858V44h2V30.858c1.723-0.446,3-1.997,3-3.858S42.723,23.588,41,23.142z M40,29c-1.104,0-2-0.896-2-2 s0.896-2,2-2s2,0.896,2,2S41.104,29,40,29z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-graph( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="75%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32.001 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30.001C62,48.568,48.568,62,32,62z"/></g></g><g><g><path d="M45,22c-2.209,0-4,1.791-4,4s1.791,4,4,4s4-1.791,4-4S47.209,22,45,22z M45,28c-1.104,0-2-0.896-2-2s0.896-2,2-2 s2,0.896,2,2S46.104,28,45,28z"/></g></g><g><g><path d="M42.645,27.838l-4.643,7.295l-4.447-2.965l-0.246,0.37l-0.141-0.093l-3.104,4.656l-5.482-3.916l-0.248,0.348 l-0.152-0.106l-7,10l1.639,1.146l6.088-8.696l5.512,3.938l0.259-0.362l0.154,0.104l3.139-4.707l4.476,2.983l0.257-0.385 l0.143,0.09l5.483-8.619C43.646,28.762,43.062,28.371,42.645,27.838z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-phone( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="75%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g><g><path d="M32,0C14.327,0,0,14.327,0,32c0,17.674,14.327,32,32,32s32-14.326,32-32C64,14.327,49.673,0,32,0z M32,62 C15.432,62,2,48.568,2,32.001C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30.001C62,48.568,48.568,62,32,62z"/></g></g><g><g><path d="M38,16H26c-2.209,0-4,1.791-4,4v24c0,2.209,1.791,4,4,4h12c2.209,0,4-1.791,4-4V20C42,17.791,40.209,16,38,16z M40,44 c0,1.104-0.896,2-2,2H26c-1.104,0-2-0.896-2-2V20c0-1.104,0.896-2,2-2h12c1.104,0,2,0.896,2,2V44z"/></g></g><g><g><path d="M32,38c-1.657,0-3,1.343-3,3s1.343,3,3,3s3-1.343,3-3S33.657,38,32,38z M32,42c-0.553,0-1-0.447-1-1s0.447-1,1-1 c0.553,0,1,0.447,1,1S32.553,42,32,42z"/></g></g><g><g><path d="M35,20h-6c-0.553,0-1,0.447-1,1s0.447,1,1,1h6c0.553,0,1-0.447,1-1S35.553,20,35,20z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}

// SINGLE COLOR IMAGES
.img-check( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="448.8px" height="448.8px" viewBox="0 0 448.8 448.8" style="enable-background:new 0 0 448.8 448.8;" xml:space="preserve"><g><g><polygon fill="@{color}" points="142.8,323.85 35.7,216.75 0,252.45 142.8,395.25 448.8,89.25 413.1,53.55"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-cross( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="357px" height="357px" viewBox="0 0 357 357" style="enable-background:new 0 0 357 357;" xml:space="preserve"><g><g><polygon fill="@{color}" points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3  214.2,178.5"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-prev( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve"><g><g><g><polygon fill="@{color}" points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-next( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 223.413 223.413" style="enable-background:new 0 0 223.413 223.413;" xml:space="preserve"><g><g><g><polygon fill="@{color}" points="57.179,223.413 51.224,217.276 159.925,111.71 51.224,6.127 57.179,0 172.189,111.71"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-envelope( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><g><g><g><g><path fill="@{color}" d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32.001 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30.001C62,48.568,48.568,62,32,62z"/></g></g><g id="mail"><g><path fill="@{color}" d="M46,21H18c-1.104,0-2,0.896-2,2v18c0,1.104,0.896,2,2,2h28c1.104,0,2-0.896,2-2V23C48,21.896,47.104,21,46,21z M44.205,23L32,35L19.891,23H44.205z M18,41V24.006l9.589,9.589L20.061,41H18z M22.985,41l6.081-5.927l1.58,1.579 c0.781,0.781,2.047,0.781,2.829,0l1.531-1.531L41.087,41H22.985z M46,41h-1.939l-7.527-7.405L46,24.128V41z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-compass( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><g><g><g><g><path fill="@{color}" d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g><g><path fill="@{color}" d="M36.771,36.771l8.072-17.614L27.23,27.23l-0.058-0.058l-0.049,0.107l-0.107,0.049l0.058,0.058L19,45l17.613-8.073 l0.059,0.058l0.049-0.106l0.107-0.049L36.771,36.771z M21.832,42.168l5.395-12.332l6.938,6.938L21.832,42.168z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-tel( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><g><g><g><g><path fill="@{color}" d="M32,0C14.327,0,0,14.327,0,32c0,17.674,14.327,32,32,32s32-14.326,32-32C64,14.327,49.673,0,32,0z M32,62 C15.432,62,2,48.568,2,32.001C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30.001C62,48.568,48.568,62,32,62z"/></g></g><g><g><path fill="@{color}" d="M38,16H26c-2.209,0-4,1.791-4,4v24c0,2.209,1.791,4,4,4h12c2.209,0,4-1.791,4-4V20C42,17.791,40.209,16,38,16z M40,44 c0,1.104-0.896,2-2,2H26c-1.104,0-2-0.896-2-2V20c0-1.104,0.896-2,2-2h12c1.104,0,2,0.896,2,2V44z"/></g></g><g><g><path fill="@{color}" d="M32,38c-1.657,0-3,1.343-3,3s1.343,3,3,3s3-1.343,3-3S33.657,38,32,38z M32,42c-0.553,0-1-0.447-1-1s0.447-1,1-1 c0.553,0,1,0.447,1,1S32.553,42,32,42z"/></g></g><g><g><path fill="@{color}" d="M35,20h-6c-0.553,0-1,0.447-1,1s0.447,1,1,1h6c0.553,0,1-0.447,1-1S35.553,20,35,20z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-apple( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><path fill="@{color}" d="M395.748,272.046c-0.646-64.841,52.88-95.938,55.271-97.483c-30.075-44.01-76.925-50.039-93.62-50.736 c-39.871-4.037-77.798,23.474-98.033,23.474c-20.184,0-51.409-22.877-84.476-22.276c-43.458,0.646-83.529,25.269-105.906,64.19 c-45.152,78.35-11.563,194.42,32.445,257.963c21.504,31.104,47.146,66.038,80.813,64.79c32.421-1.294,44.681-20.979,83.878-20.979 c39.196,0,50.215,20.979,84.524,20.335c34.888-0.648,56.991-31.699,78.347-62.898c24.694-36.084,34.862-71.019,35.462-72.812 C463.678,375.26,396.422,349.495,395.748,272.046z M331.28,81.761C349.149,60.082,361.21,30.005,357.92,0 c-25.739,1.048-56.938,17.145-75.405,38.775c-16.57,19.188-31.075,49.813-27.188,79.218 C284.061,120.235,313.392,103.391,331.28,81.761z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-android( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 505.145 505.145" style="enable-background:new 0 0 505.145 505.145;" xml:space="preserve"><g><g><g><path fill="@{color}" d="M68.541,164.715h-1.294c-16.588,0-30.113,13.568-30.113,30.113v131.107 c0,16.61,13.525,30.134,30.113,30.134h1.316c16.588,0,30.113-13.568,30.113-30.134V194.827 C98.654,178.283,85.108,164.715,68.541,164.715z"/> <path fill="@{color}" d="M113.085,376.54c0,15.229,12.446,27.632,27.675,27.632h29.574v70.817 c0,16.631,13.568,30.156,30.113,30.156h1.294c16.61,0,30.156-13.546,30.156-30.156v-70.817h41.33v70.817 c0,16.631,13.611,30.156,30.156,30.156h1.273c16.609,0,30.134-13.546,30.134-30.156v-70.817h29.595 c15.207,0,27.654-12.403,27.654-27.632V169.525H113.085V376.54z"/><path fill="@{color}" d="M322.041,43.983l23.491-36.26c1.51-2.287,0.841-5.414-1.467-6.903 c-2.286-1.51-5.414-0.884-6.903,1.467l-24.353,37.512c-18.27-7.485-38.676-11.691-60.226-11.691 c-21.571,0-41.934,4.206-60.247,11.691l-24.31-37.512c-1.488-2.351-4.638-2.977-6.946-1.467 c-2.308,1.488-2.977,4.616-1.467,6.903l23.512,36.26c-42.387,20.773-70.968,59.924-70.968,104.834 c0,2.761,0.173,5.479,0.41,8.175h280.053c0.237-2.696,0.388-5.414,0.388-8.175C393.009,103.907,364.406,64.756,322.041,43.983z M187.655,108.911c-7.442,0-13.482-5.997-13.482-13.46c0-7.463,6.04-13.439,13.482-13.439c7.485,0,13.482,5.975,13.482,13.439 S195.097,108.911,187.655,108.911z M317.49,108.911c-7.442,0-13.482-5.997-13.482-13.46c0-7.463,6.04-13.439,13.482-13.439 c7.463,0,13.46,5.975,13.46,13.439C330.95,102.914,324.953,108.911,317.49,108.911z"/><path fill="@{color}" d="M437.876,164.715h-1.251c-16.588,0-30.156,13.568-30.156,30.113v131.107 c0,16.61,13.59,30.134,30.156,30.134h1.273c16.609,0,30.113-13.568,30.113-30.134V194.827 C468.011,178.283,454.464,164.715,437.876,164.715z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-post-link( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><g><g><g id="circle_51_"><g><path fill="@{color}" d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g id="Ellipse_5_copy"><g><path fill="@{color}" d="M46.365,20.636c-3.516-3.515-9.213-3.515-12.729,0c-1.504,1.504-2.325,3.407-2.532,5.364H31v12h-0.047 c-0.209,1.405-0.836,2.783-2.004,3.95c-2.929,2.929-7.166,2.733-9.899,0c-2.734-2.733-2.734-7.166,0-9.899 c2.153-2.153,5.35-2.583,7.95-1.345v-2.155c-3.168-1.123-6.83-0.449-9.364,2.086c-3.515,3.515-3.515,9.212,0,12.728 c3.515,3.515,9.213,3.515,12.728,0c1.502-1.502,2.322-3.405,2.541-5.364H33V27l0,0c0-1.792,0.684-3.583,2.05-4.95 c2.734-2.733,7.166-2.733,9.899,0c2.734,2.733,2.929,6.971,0,9.899c-2.299,2.299-5.399,2.665-7.95,1.398v2.102 c3.168,1.123,6.83,0.449,9.364-2.086C49.879,29.849,49.879,24.15,46.365,20.636z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-post-zoom( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><g><g><g id="circle_67_"><g><path fill="@{color}" d="M32,0C14.328,0,0,14.327,0,32s14.328,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32.001 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30.001C62,48.568,48.568,62,32,62z"/> </g></g><g id="search"><g><path fill="@{color}" d="M45.714,43.357l-5.712-5.713C41.254,35.916,42,33.798,42,31.5C42,25.701,37.3,21,31.5,21C25.702,21,21,25.701,21,31.5 S25.702,42,31.5,42c2.809,0,5.354-1.109,7.238-2.906l5.619,5.62c0.375,0.375,0.981,0.375,1.356,0 C46.089,44.34,46.089,43.732,45.714,43.357z M31.5,40c-4.694,0-8.5-3.807-8.5-8.5c0-4.694,3.806-8.5,8.5-8.5 c4.693,0,8.5,3.806,8.5,8.5C40,36.193,36.195,40,31.5,40z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-link( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="457.03px" height="457.03px" viewBox="0 0 457.03 457.03" style="enable-background:new 0 0 457.03 457.03;" xml:space="preserve"><g><path fill="@{color}" d="M421.512,207.074l-85.795,85.767c-47.352,47.38-124.169,47.38-171.529,0c-7.46-7.439-13.296-15.821-18.421-24.465 l39.864-39.861c1.895-1.911,4.235-3.006,6.471-4.296c2.756,9.416,7.567,18.33,14.972,25.736c23.648,23.667,62.128,23.634,85.762,0 l85.768-85.765c23.666-23.664,23.666-62.135,0-85.781c-23.635-23.646-62.105-23.646-85.768,0l-30.499,30.532 c-24.75-9.637-51.415-12.228-77.373-8.424l64.991-64.989c47.38-47.371,124.177-47.371,171.557,0 C468.869,82.897,468.869,159.706,421.512,207.074z M194.708,348.104l-30.521,30.532c-23.646,23.634-62.128,23.634-85.778,0 c-23.648-23.667-23.648-62.138,0-85.795l85.778-85.767c23.665-23.662,62.121-23.662,85.767,0 c7.388,7.39,12.204,16.302,14.986,25.706c2.249-1.307,4.56-2.369,6.454-4.266l39.861-39.845 c-5.092-8.678-10.958-17.03-18.421-24.477c-47.348-47.371-124.172-47.371-171.543,0L35.526,249.96 c-47.366,47.385-47.366,124.172,0,171.553c47.371,47.356,124.177,47.356,171.547,0l65.008-65.003 C246.109,360.336,219.437,357.723,194.708,348.104z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-arrow-bottom( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 202.033 202.033" style="enable-background:new 0 0 202.033 202.033;" xml:space="preserve"><g><g><polygon fill="@{color}" points="167.082,135.971 161.832,130.718 104.731,187.818 104.731,0 97.305,0 97.305,187.829 40.201,130.718 34.951,135.971 101.017,202.033"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-arrow-top( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 201.894 201.894" style="enable-background:new 0 0 201.894 201.894;" xml:space="preserve"><g><g><polygon fill="@{color}" points="33.768,66.019 39.108,71.266 97.171,14.204 97.171,201.894 104.719,201.894 104.719,14.194 162.786,71.266 168.125,66.019 100.947,0"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-arrow-right( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 227.096 227.096" style="enable-background:new 0 0 227.096 227.096;" xml:space="preserve"><g><g><polygon fill="@{color}" points="152.835,39.285 146.933,45.183 211.113,109.373 0,109.373 0,117.723 211.124,117.723  146.933,181.902 152.835,187.811 227.096,113.55"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-video( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><g><g><g id="circle_18_"><g><path fill="@{color}" d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32.001 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30.001C62,48.568,48.568,62,32,62z"/></g></g><g id="play"><g><path fill="@{color}" d="M41.109,30.341l-12-7.989c-0.613-0.408-1.402-0.447-2.053-0.1C26.406,22.599,26,23.275,26,24.013v15.98 c0,0.737,0.406,1.412,1.057,1.761c0.65,0.348,1.439,0.311,2.053-0.1l12-7.989C41.666,33.294,42,32.67,42,32.003 C42,31.335,41.666,30.712,41.109,30.341z M38.8,33.422l-9.389,5.786C28.907,39.543,28,39.559,28,39.559s0-0.93,0-1.533V26.007 c0-0.604,0-1.659,0-1.659s0.907-0.046,1.411,0.287l9.389,6.193c0.457,0.303,0.731,0.688,0.731,1.234 C39.531,32.607,39.257,33.119,38.8,33.422z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-video-hover( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="67%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g id="circle_18_"><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32.001 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30.001C62,48.568,48.568,62,32,62z"/></g></g><g id="play"><g><path d="M41.109,30.341l-12-7.989c-0.613-0.408-1.402-0.447-2.053-0.1C26.406,22.599,26,23.275,26,24.013v15.98 c0,0.737,0.406,1.412,1.057,1.761c0.65,0.348,1.439,0.311,2.053-0.1l12-7.989C41.666,33.294,42,32.67,42,32.003 C42,31.335,41.666,30.712,41.109,30.341z M38.8,33.422l-9.389,5.786C28.907,39.543,28,39.559,28,39.559s0-0.93,0-1.533V26.007 c0-0.604,0-1.659,0-1.659s0.907-0.046,1.411,0.287l9.389,6.193c0.457,0.303,0.731,0.688,0.731,1.234 C39.531,32.607,39.257,33.119,38.8,33.422z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-audio( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><g><g><g id="circle_16_"><g><path fill="@{color}" d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g id="music"><g><path fill="@{color}" d="M43,18l-14,4c-1.104,0-2,0.896-2,2v13.021C26.162,36.391,25.131,36,24,36c-2.762,0-5,2.238-5,5s2.238,5,5,5 c2.419,0,4.436-1.718,4.899-4H29V30l14-4v7.021C42.162,32.391,41.131,32,40,32c-2.762,0-5,2.238-5,5s2.238,5,5,5 c2.419,0,4.436-1.718,4.898-4H45V20C45,18.896,44.104,18,43,18z M24,44c-1.657,0-3-1.343-3-3s1.343-3,3-3s3,1.343,3,3 S25.657,44,24,44z M40,40c-1.657,0-3-1.343-3-3s1.343-3,3-3s3,1.343,3,3S41.657,40,40,40z M43,24l-14,4v-4l14-4V24z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-audio-hover( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="67%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g id="circle_16_"><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,2,48.568,2,32 C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g id="music"><g><path d="M43,18l-14,4c-1.104,0-2,0.896-2,2v13.021C26.162,36.391,25.131,36,24,36c-2.762,0-5,2.238-5,5s2.238,5,5,5 c2.419,0,4.436-1.718,4.899-4H29V30l14-4v7.021C42.162,32.391,41.131,32,40,32c-2.762,0-5,2.238-5,5s2.238,5,5,5 c2.419,0,4.436-1.718,4.898-4H45V20C45,18.896,44.104,18,43,18z M24,44c-1.657,0-3-1.343-3-3s1.343-3,3-3s3,1.343,3,3 S25.657,44,24,44z M40,40c-1.657,0-3-1.343-3-3s1.343-3,3-3s3,1.343,3,3S41.657,40,40,40z M43,24l-14,4v-4l14-4V24z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-photo( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><g><g><g id="circle_12_"><g><path fill="@{color}" d="M32,0C14.328,0,0,14.327,0,32c0,17.674,14.328,32,32,32c17.673,0,32-14.326,32-32C64,14.327,49.673,0,32,0z M32,62 C15.432,62,2,48.568,2,32C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g id="Printer_1_"><g><path fill="@{color}" d="M43,28c-0.552,0-1,0.448-1,1c0,0.553,0.448,1,1,1s1-0.447,1-1C44,28.448,43.553,28,43,28z M44,24h-5v-1 c0-2.209-1.791-4-4-4h-6c-2.209,0-4,1.791-4,4v1h-5c-2.209,0-4,1.791-4,4v12c0,2.209,1.791,4,4,4h24c2.209,0,4-1.791,4-4V28 C48,25.791,46.209,24,44,24z M27,23c0-1.104,0.896-2,2-2h6c1.104,0,2,0.896,2,2v1H27V23z M46,40c0,1.104-0.896,2-2,2H20 c-1.104,0-2-0.896-2-2V28c0-1.104,0.896-2,2-2h24c1.104,0,2,0.896,2,2V40z M32,28c-3.313,0-6,2.687-6,6c0,3.312,2.687,6,6,6 c3.314,0,6-2.688,6-6C38,30.687,35.314,28,32,28z M32,38c-2.209,0-4-1.791-4-4s1.791-4,4-4s4,1.791,4,4S34.209,38,32,38z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-photo-hover( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="67%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g id="circle_12_"><g><path d="M32,0C14.328,0,0,14.327,0,32c0,17.674,14.328,32,32,32c17.673,0,32-14.326,32-32C64,14.327,49.673,0,32,0z M32,62 C15.432,62,2,48.568,2,32C2,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g id="Printer_1_"><g><path d="M43,28c-0.552,0-1,0.448-1,1c0,0.553,0.448,1,1,1s1-0.447,1-1C44,28.448,43.553,28,43,28z M44,24h-5v-1 c0-2.209-1.791-4-4-4h-6c-2.209,0-4,1.791-4,4v1h-5c-2.209,0-4,1.791-4,4v12c0,2.209,1.791,4,4,4h24c2.209,0,4-1.791,4-4V28 C48,25.791,46.209,24,44,24z M27,23c0-1.104,0.896-2,2-2h6c1.104,0,2,0.896,2,2v1H27V23z M46,40c0,1.104-0.896,2-2,2H20 c-1.104,0-2-0.896-2-2V28c0-1.104,0.896-2,2-2h24c1.104,0,2,0.896,2,2V40z M32,28c-3.313,0-6,2.687-6,6c0,3.312,2.687,6,6,6 c3.314,0,6-2.688,6-6C38,30.687,35.314,28,32,28z M32,38c-2.209,0-4-1.791-4-4s1.791-4,4-4s4,1.791,4,4S34.209,38,32,38z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-book( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><g><g><g id="circle_71_"><g><path fill="@{color}" d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,1.999,48.568,1.999,32 C1.999,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g id="Rectangle_3_copy_2"><g><path fill="@{color}" d="M40,23.973c0-1.104-0.896-2.147-2-2.33l-14.04-2.474L24.129,19H42v20h2V19c0-1.104-0.896-2-2-2H28 c-0.17,0-3.769-0.231-5,1l-2,2c0,1.432,0,23,0,23c0,1.104,0.896,2,2,2l15,2.643c1.104,0.184,2-0.563,2-1.67V23.973z M38,45.643 L23,43V21l15,2.643V45.643z"/></g></g><g id="correction"><g><path fill="@{color}" d="M42,35v6h-2v2h2c1.104,0,2-0.896,2-2v-6H42z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-book-hover( @color_1, @color_2 ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"><style type="text/css">path{fill:url(#svgGradient)}</style><defs><linearGradient id="svgGradient" gradientTransform="rotate(-25)"><stop offset="0%" stop-color="@{color_1}" /><stop offset="67%" stop-color="@{color_2}" /></linearGradient></defs><g><g><g id="circle_71_"><g><path d="M32,0C14.327,0,0,14.327,0,32s14.327,32,32,32s32-14.327,32-32S49.673,0,32,0z M32,62C15.432,62,1.999,48.568,1.999,32 C1.999,15.432,15.432,2,32,2c16.568,0,30,13.432,30,30C62,48.568,48.568,62,32,62z"/></g></g><g id="Rectangle_3_copy_2"><g><path d="M40,23.973c0-1.104-0.896-2.147-2-2.33l-14.04-2.474L24.129,19H42v20h2V19c0-1.104-0.896-2-2-2H28 c-0.17,0-3.769-0.231-5,1l-2,2c0,1.432,0,23,0,23c0,1.104,0.896,2,2,2l15,2.643c1.104,0.184,2-0.563,2-1.67V23.973z M38,45.643 L23,43V21l15,2.643V45.643z"/></g></g><g id="correction"><g><path d="M42,35v6h-2v2h2c1.104,0,2-0.896,2-2v-6H42z"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-view( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 525.153 525.153" style="enable-background:new 0 0 525.153 525.153;" xml:space="preserve"><g><path fill="@{color}" d="M288.812,131.288h-52.471v105.052H131.288v52.471h105.052v105.052h52.471V288.812h105.052v-52.471H288.812 C288.812,236.341,288.812,131.288,288.812,131.288z M262.576,0C117.897,0,0,117.897,0,262.576 c0,144.658,117.897,262.576,262.576,262.576h210.061c28.883,0,52.515-23.632,52.515-52.515V262.576 C525.153,117.897,407.234,0,262.576,0z M262.576,472.637c-115.818,0-210.061-94.243-210.061-210.061S146.758,52.515,262.576,52.515 s210.061,94.243,210.061,210.061S378.394,472.637,262.576,472.637z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-reply( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve"><g><g id="reply-all"><path fill="@{color}" d="M178.5,191.25v-76.5L0,293.25l178.5,178.5v-76.5l-102-102L178.5,191.25z M331.5,216.75v-102L153,293.25l178.5,178.5V367.2 C459,367.2,548.25,408,612,497.25C586.5,369.75,510,242.25,331.5,216.75z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-blockquote( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="123.961px" height="123.961px" viewBox="0 0 123.961 123.961" style="enable-background:new 0 0 123.961 123.961;" xml:space="preserve"><g><path fill="@{color}" d="M49.8,29.032c3.1-1.3,4.4-5,3-8l-4.9-10.3c-1.4-2.899-4.8-4.2-7.8-2.899c-8.5,3.6-15.8,8.3-21.6,14 C11.4,28.532,6.6,36.232,4,44.732c-2.6,8.601-4,20.3-4,35.2v30.7c0,3.3,2.7,6,6,6h39.3c3.3,0,6-2.7,6-6v-39.3c0-3.301-2.7-6-6-6 H26.5c0.2-10.101,2.6-18.2,7-24.301C37.1,36.133,42.5,32.133,49.8,29.032z"/> <path fill="@{color}" d="M120.4,29.032c3.1-1.3,4.399-5,3-8l-4.9-10.199c-1.4-2.9-4.8-4.2-7.8-2.9c-8.4,3.6-15.601,8.3-21.5,13.9 c-7.101,6.8-12,14.5-14.601,23c-2.6,8.399-3.899,20.1-3.899,35.1v30.7c0,3.3,2.7,6,6,6H116c3.3,0,6-2.7,6-6v-39.3 c0-3.301-2.7-6-6-6H97.1c0.2-10.101,2.601-18.2,7-24.301C107.7,36.133,113.1,32.133,120.4,29.032z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-submenu-back( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="306px" height="306px" viewBox="0 0 306 306" style="enable-background:new 0 0 306 306;" xml:space="preserve"><g><g id="chevron-left"><polygon fill="@{color}" points="247.35,35.7 211.65,0 58.65,153 211.65,306 247.35,270.3 130.05,153"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.img-submenu( @color ) {
	.base64DataUriBackground(~'<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="306px" height="306px" viewBox="0 0 306 306" style="enable-background:new 0 0 306 306;" xml:space="preserve"><g><g id="chevron-right"><polygon fill="@{color}" points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); 
}
.base64DataUriBackground (@encode) {
  @dataUriPrefix: ~"url(data:image/svg+xml;base64,";
  @dataUriSuffix: ~")";
  @b64DataUri: ~`(function(a,b,c){function e(a){a=a.replace(/\r\n/g,'\n');var b='';for(var c=0;c<a.length;c++){var d=a.charCodeAt(c);if(d<128){b+=String.fromCharCode(d)}else if(d>127&&d<2048){b+=String.fromCharCode(d>>6|192);b+=String.fromCharCode(d&63|128)}else{b+=String.fromCharCode(d>>12|224);b+=String.fromCharCode(d>>6&63|128);b+=String.fromCharCode(d&63|128)}}return b}function f(a){var b='';var c,f,g,h,i,j,l;var m=0;a=e(a);while(m<a.length){c=a.charCodeAt(m++);f=a.charCodeAt(m++);g=a.charCodeAt(m++);h=c>>2;i=(c&3)<<4|f>>4;j=(f&15)<<2|g>>6;l=g&63;if(isNaN(f)){j=l=64}else if(isNaN(g)){l=64}b=b+d.charAt(h)+d.charAt(i)+d.charAt(j)+d.charAt(l)}return b}var d='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';return a+f(b)+c})('@{dataUriPrefix}','@{encode}','@{dataUriSuffix}')`;
  background-image: @b64DataUri !important;
}

//
//	===========================================
//	Gradient Tools
//	===========================================
//

// Vertical gradient
.v-gradient(@startColor: #aaa, @stopColor: #000) {
  background: mix(@startColor, @stopColor, 50%);
  background: -moz-linear-gradient(top, @startColor 0%, @stopColor 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(100%,@stopColor));
  background: -webkit-linear-gradient(top,  @startColor 0%,@stopColor 100%);
  background: -o-linear-gradient(top, @startColor 0%, @stopColor 100%);
  background: -ms-linear-gradient(top, @startColor 0%, @stopColor 100%); 
  background: linear-gradient(to bottom, @startColor 0%, @stopColor 100%);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@stopColor));
}

// Horizontal gradient
.h-gradient(@startColor: #aaa, @stopColor: #000) {
  background: mix(@startColor, @stopColor, 50%);
  background: -moz-linear-gradient(left, @startColor 0%, @stopColor 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,@startColor), color-stop(100%,@stopColor));
  background: -webkit-linear-gradient(left,  @startColor 0%,@stopColor 100%);
  background: -o-linear-gradient(left, @startColor 0%, @stopColor 100%);
  background: -ms-linear-gradient(top, @startColor 0%, @stopColor 100%);
  background: linear-gradient(to right, @startColor 0%, @stopColor 100%);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@stopColor));
}

// Gradient from left bottom to right top
.bottom-top-gradient( @startColor: #fff, @stopColor: #f2f2f2 ) {
	background: @startColor;
	background: -moz-linear-gradient(45deg, @startColor 0%, @stopColor 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, @startColor), color-stop(100%, @stopColor));
	background: -webkit-linear-gradient(45deg, @startColor 0%, @stopColor 100%);
	background: -o-linear-gradient(45deg, @startColor 0%, @stopColor 100%);
	background: -ms-linear-gradient(45deg, @startColor 0%, @stopColor 100%);
	background: linear-gradient(45deg, @startColor 0%, @stopColor 100%);
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@stopColor));
}

//
//	===========================================
//	Border Radius
//	===========================================
//

// Rounded 
.rounded(@radius) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}

// Borner radius
.border-radius(@topRight: 0, @bottomRight: 0, @bottomLeft: 0, @topLeft: 0) {
    // Top Right
    -webkit-border-top-right-radius: @topRight;
        -moz-border-radius-topright: @topRight;
            border-top-right-radius: @topRight;
    // Bottom Right
    -webkit-border-bottom-right-radius: @bottomRight;
        -moz-border-radius-bottomright: @bottomRight;
            border-bottom-right-radius: @bottomRight;
    // bottom Left
    -webkit-border-bottom-left-radius: @bottomLeft;
        -moz-border-radius-bottomleft: @bottomLeft;
            border-bottom-left-radius: @bottomLeft;
    // Top Right
    -webkit-border-top-left-radius: @topLeft;    
        -moz-border-radius-topleft: @topLeft;   
            border-top-left-radius: @topLeft;
}


//
//	===========================================
//	Shadow Tools
//	===========================================
//

// Basic box shadow
.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
       -moz-box-shadow: @shadow;
            box-shadow: @shadow;
}

// Advanced box shadow
.box-shadows(@shadow, @shadow) {
    -webkit-box-shadow: @shadow, @shadow;
       -moz-box-shadow: @shadow, @shadow;
            box-shadow: @shadow, @shadow;
}

// Outer shadow
.outer-shadow(@x: 0, @y: 1px, @blur: 2px, @alpha: 0.1) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
       -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
            box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}

// Inner shadow
.inner-shadow(@x: 0, @y: 1px, @blur: 2px, @alpha: 0.4) {
    -webkit-box-shadow: inset @x @y @blur rgba(0, 0, 0, @alpha);
       -moz-box-shadow: inset @x @y @blur rgba(0, 0, 0, @alpha);
            box-shadow: inset @x @y @blur rgba(0, 0, 0, @alpha);
}

//
//	===========================================
//	Transition Tools
//	===========================================
//

// Perspective
.perspective( @value ) {
	-webkit-perspective: @value;
	-moz-perspective: @value;
	-ms-perspective: @value;
	perspective: @value;
	-ms-transform: perspective("{@value}px");
	-moz-transform: perspective("{@value}px");
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
}

// Transition
.transition(@transition) {
    -webkit-transition: @transition;
       -moz-transition: @transition;
         -o-transition: @transition;
            transition: @transition;
}

// Transition all
.transition-all(@duration: 0.2s, @delay: ease) {
    -webkit-transition: all @duration @delay;
       -moz-transition: all @duration @delay;
         -o-transition: all @duration @delay;
            transition: all @duration @delay;
}

// Transition duration
.transition-duration(@transition-duration) {
    -webkit-transition-duration: @transition-duration;
       -moz-transition-duration: @transition-duration;
         -o-transition-duration: @transition-duration;
            transition-duration: @transition-duration;
}
// Transition delay
.transition-delay(@transition-delay) {
    -webkit-transition-delay: @transition-delay;
       -moz-transition-delay: @transition-delay;
         -o-transition-delay: @transition-delay;
            transition-delay: @transition-delay;
}

//
//	===========================================
//	Transform Tools
//	===========================================
//

// Basic transform
.transform(@transform) {
    -webkit-transform: @transform;
       -moz-transform: @transform;
        -ms-transform: @transform;
         -o-transform: @transform;
            transform: @transform;
}

// Rotate
.rotate(@deg) {
  .transform(rotate(@deg));
}

// Scale
.scale(@ratio) {
  .transform(scale(@ratio));
}

// Translate
.translate(@x, @y) {
  .transform(translate(@x, @y));
}

// Font size
.font-size( @size: 1.3 ) {
	@pxsize: @size * 10;
	font-size: ~`"@{pxsize}" + "px"`;
	font-size: ~`"@{size}" + "rem"`;
}

//
//	===========================================
//	More Tools
//	===========================================
//
// RGBA Background color
.bgrgba( @color, @opacity ) {
	background-color: rgba( red( @color ), green( @color ), blue( @color ), @opacity / 10 );
}
// Box sizing
.box-sizing(@sizing: border-box) {
  -webkit-box-sizing: @sizing;
     -moz-box-sizing: @sizing;
      -ms-box-sizing: @sizing;
          box-sizing: @sizing;
}
.boxSizingImportant(@sizing: border-box) {
  -webkit-box-sizing: @sizing !important;
     -moz-box-sizing: @sizing !important;
      -ms-box-sizing: @sizing !important;
          box-sizing: @sizing !important;
}
// User select
.user-select(@select: none) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select;
       -o-user-select: @select;
          user-select: @select;
}

// Opacity
.opacity(@opacity: 0.5) {
  opacity: @opacity;
  @opperc: @opacity * 100;
  filter: ~"alpha(opacity=@{opperc})";
}

// Clear :after
.clear() {
	content: "";  
	display: block;  
	clear: both;  
	visibility: hidden;  
	font-size: 0;  
	height: 0;  
}

//
//	===========================================
//	Develop and Testing Tools
//	===========================================
//

// Hide block
.hide() {
  display: none;
}

// Hide conntent
.hide-text() {
  font: 0/0 a;
  border: 0;
  color: transparent;
  background-color: transparent;
  text-shadow: none;
  .box-shadow(none);  
}