/**
	===========
	shared.less
	===========
	this file contains base styles of body, typography tags, forms, etc.
**/
/**
	=====================================================================================================================================================
	Preloader styles
	=====================================================================================================================================================
**/
#preloader {
	position: fixed;
	z-index: 9999;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: linear-gradient(220deg, #b1d750, #00bff3);
	background-size: 400% 400%;
	
	-webkit-animation: AnimateGradientPreloader 30s ease infinite;
	-moz-animation: AnimateGradientPreloader 30s ease infinite;
	-o-animation: AnimateGradientPreloader 30s ease infinite;
	animation: AnimateGradientPreloader 30s ease infinite;
	
	/* Timer*/
	.timer {
	  width: 80px;
	  height: 80px;
	  background-color: transparent;
	  box-shadow: inset 0px 0px 0px 2px #fff;
	  border-radius: 50%;
	  position: absolute;
		top: 50%;
		left: 50%; 
		margin-top: -40px;
		margin-left: -40px;
	 }
	.timer:after, .timer:before{
	  position: absolute;
	  content:"";
	  background-color: #fff;
	}
	.timer:after{
	  width: 30px;
	  height: 2px;
	  top: 40px;
	  left: 40px;
	  -webkit-transform-origin: 1px 1px;
	     -moz-transform-origin: 1px 1px;
	          transform-origin: 1px 1px;
	  -webkit-animation: minhand 2s linear infinite;
	     -moz-animation: minhand 2s linear infinite;
	          animation: minhand 2s linear infinite;
	}
	.timer:before{
	  width: 20px;
	  height: 2px;
	  top: 40px;
	  left: 40px;
	  -webkit-transform-origin: 1px 1px;
	     -moz-transform-origin: 1px 1px;
	          transform-origin: 1px 1px;
	  -webkit-animation: hrhand 8s linear infinite;
	     -moz-animation: hrhand 8s linear infinite;
	          animation: hrhand 8s linear infinite;
	}
	
	.ball-pulse > div,
	.ball-pulse-sync > div,
	.ball-scale > div,
	.ball-rotate > div,
	.ball-rotate > div:before, .ball-rotate > div:after,
	.ball-clip-rotate > div,
	.ball-clip-rotate-pulse > div:first-child,
	.ball-beat > div,
	.ball-scale-multiple > div,
	.ball-pulse-rise > div,
	.ball-grid-beat > div,
	.ball-grid-pulse > div,
	.ball-spin-fade-loader > div,
	.ball-zig-zag > div,
	.ball-zig-zag-deflect > div,
	.line-scale > div,
	.line-scale-party > div,
	.line-scale-pulse-out > div,
	.line-scale-pulse-out-rapid > div,
	.line-spin-fade-loader > div,
	.square-spin > div,
	.pacman > div:nth-child(3), .pacman > div:nth-child(4), .pacman > div:nth-child(5), .pacman > div:nth-child(6),
	.cube-transition > div {
		background-color: @color_accent_inner;
	}
	.ball-clip-rotate > div,
	.ball-clip-rotate-pulse > div:last-child,
	.ball-clip-rotate-multiple > div,
	.ball-scale-ripple > div,
	.ball-scale-ripple-multiple > div {
		border: 2px solid @color_accent_inner;
	}
	.ball-clip-rotate-pulse > div:last-child,
	.ball-clip-rotate-multiple > div:last-child {
		border-color: @color_accent_inner transparent @color_accent_inner transparent;
	}
	.ball-triangle-path > div, .ballborder {
		border: 1px solid @color_accent_inner;
	}
	.triangle-skew-spin > div {
		border-bottom: 20px solid @color_accent_inner;
	}
	.pacman > div:first-of-type, .pacman > div:nth-child(2) {
	  border-top: 25px solid @color_accent_inner;
	  border-left: 25px solid @color_accent_inner;
	  border-bottom: 25px solid @color_accent_inner;
	}
	.semi-circle-spin > div {
	  background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, @color_accent_inner 30%, @color_accent_inner 100%);
	  background-image: linear-gradient(transparent 0%, transparent 70%, @color_accent_inner 30%, @color_accent_inner 100%);
	}
	
}

#preloader.custom img {
	position: absolute;
	top: 50%;
	left: 50%;
}

#preloader-inner {
	position: absolute;
	top: 49%;
	left: 49%;
}

@-webkit-keyframes AnimateGradientPreloader {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes AnimateGradientPreloader {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-o-keyframes AnimateGradientPreloader {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes AnimateGradientPreloader { 
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}

@-webkit-keyframes minhand{
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes minhand{
  0%{-moz-transform:rotate(0deg)}
  100%{-moz-transform:rotate(360deg)}
}
@keyframes minhand{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@-webkit-keyframes hrhand{
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes hrhand{
  0%{-moz-transform:rotate(0deg)}
  100%{-moz-transform:rotate(360deg)}
}
@keyframes hrhand{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
/**
	=====================================================================================================================================================
	Body styles
	=====================================================================================================================================================
**/
::selection {
	background: @color_accent_green;
	color: @color_accent_inner;
}
::-moz-selection {
	background: @color_accent_green;
	color: @color_accent_inner;
}
html {
	font-size: 62.5%;
	height: 100% !important;
}
body {
	height: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background-color: @bg_body;
	overflow-x: hidden !important;
	color: @color_primary_text;
	.fontSize( @primary_font_font_size );
	.fontFamilyPrimary( @primary_font_font_family );
	.lineHeight( @primary_font_line_height );
	.fontWeight( @primary_font_font_weight );
	.textTransform( @primary_font_text_transform );
	.fontVariant( @primary_font_font_variant );
	.fontStyle( @primary_font_font_style );
	
	.bgImage( @content_bg_image_background_image );
	.bgImageRepeat( @content_bg_image_background_repeat );
	.bgImagePosition( @content_bg_image_background_position );
	.bgImageSize( @content_bg_image_background_size );
	.bgImageFixed( @content_bg_image_background_fixed );
}
@media screen and (max-width: 767px) {
	body {
		.fontSize( @primary_font_font_size_mobile );
		.lineHeight( @primary_font_line_height_mobile );
	}	
}
body.no-header {
	padding-top: 195px;
}
body.no-footer {
	padding-bottom: 195px;
}
@media screen and (max-width: 767px) {
	body.no-header {
		padding-top: 100px;
	}
	body.no-footer {
		padding-bottom: 100px;
	}
}
.parallax-footer #content-wrapper {
	position: relative;
	z-index: 2;
	background-color: @bg_body;
	-webkit-margin-bottom-collapse: separate;
	
	.bgImage( @content_bg_image_background_image );
	.bgImageRepeat( @content_bg_image_background_repeat );
	.bgImagePosition( @content_bg_image_background_position );
	.bgImageSize( @content_bg_image_background_size );
	.bgImageFixed( @content_bg_image_background_fixed );
}
#content-wrapper {
	padding: 90px 0;
}
.page-template-page-template-custom {
	#content-wrapper {
		padding: 0;
	}
}
.fixed-header.page-template-page-template-custom,
.transparent-header.page-template-page-template-custom {
	#content-wrapper {
		padding-top: 100px;
	}
}
body.intro-header.page-template-page-template-custom {
	#content-wrapper {
		padding-top: 0 !important;
	}
}
#content {
	padding-bottom: 90px;
	
	.fw-page-builder-content .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}
.centered {
	text-align: center;
}

.stretch_row_content_no_paddings > .container-fluid,
.stretch_row_content_no_paddings > .container-fluid > .fw-row > .grid-column {
	padding-left: 0;
	padding-right: 0;
}
.stretch_row_content_no_paddings > .container-fluid > .fw-row {
	margin-left: 0;
	margin-right: 0;
}

/**
	=====================================================================================================================================================
	Basic styles for HTML tags
	=====================================================================================================================================================
**/
a {
	text-decoration: none;
	color: @color_accent_green;
	.transition( color 0.2s );
}
a:hover {
	color: darken( @color_accent_green, 15% );
}
mark {
	padding-left: 2px;
	padding-right: 2px;
	color: @color_accent_inner;
	background-color: @color_accent_green;
}
strong, b {
	font-weight: bold;
}
i, em, q, address {
	font-style: italic;
}
img {
	max-width: 100%;
	height: auto;
}
input[type='number'] {
	-moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
select::-ms-expand {
	display: none;
}
input, select, textarea {
	max-width: 100%;
}
textarea {
	overflow: auto;
	resize: none;
}
table {
	border: 1px solid @color_borders_light;
	tr, td, th {
		border: 1px solid @color_borders_light;
	}
	thead, tfoot, th {
		background-color: @bg_alter;
	}
	td, th, caption {
		padding: 14px;
		.transition( background-color 0.2s );
	}
	th {
		font-weight: bold;
		text-align: left;
	}
	caption {
		text-align: center;
		font-style: italic;
	}
	tr:hover td, tr:hover th {
		background-color: @bg_alter;
	}
}
dl {
	.decrease-font-size( @primary_font_font_size, 0.2 );
	.lineHeight( @primary_font_line_height );
	dt {
		color: @color_alt_text;
		margin-right: 5px;
		float: left;
	}
	dd {
		margin-bottom: 14px;
	}
}
ol, ul {
	padding-left: 20px;
	li {
		display: list-item;
	}
	li, ol, ul {
		margin-bottom: 14px;
	}
	ul, ol {
		margin-top: 14px;
		margin-left: 10px;
	}
}
ul {
	list-style-type: square;
	list-style-position: outside;
}
ul ul {
	list-style-type: disc;
}
ul ul ul {
	list-style-type: circle;
}
ol {
	list-style-type: decimal;
	list-style-position: outside;
}
pre, code, tt, var {
  font-family: "Courier New", monospace;
}
code, tt, var {
	padding: 0 8px;
}
pre {
  display: block;
  padding: 10px;
  overflow-x: auto;
  width: 100%;
}
code, tt, var, pre {
	background-color: @bg_alter;
	border: 1px solid @color_borders_light;
}
hr {
  border: 0;
  height: 1px;
	margin: 60px 0;
	background-color: @color_borders_light;
}
@media screen and (max-width: 767px) {
	hr {
		margin: 30px 0;
	}	
}
p, table, ul, ol, dl, pre, address, audio, video, iframe, blockquote, embed, canvas, form, fieldset, .form-row, .post-gallery, .mejs-container {
	margin-bottom: 30px;
}
.fw-alert-success {
	margin-bottom: 30px !important;
}
legend {
	display: inline-block;
}
.field-wrap {
	margin-bottom: 30px;
}
.full-height {
	height: 100%;
} 
.full-width {
	width: 100%;
}
/**
	=====================================================================================================================================================
	Headers styles
	=====================================================================================================================================================
**/
h1, h2, h3, h4, h5, h6 {
	color: @color_headers_text;
	margin-bottom: 34px;
}
h1, .h1 {
	.fontSize( @h1_font_font_size );
	.fontFamilySecondary( @h1_font_font_family );
	.lineHeight( @h1_font_line_height );
	.fontWeight( @h1_font_font_weight );
	.textTransform( @h1_font_text_transform );
	.fontVariant( @h1_font_font_variant );
	.fontStyle( @h1_font_font_style );
}
h2, .h2 {
	.fontSize( @h2_font_font_size );
	.fontFamilySecondary( @h2_font_font_family );
	.lineHeight( @h2_font_line_height );
	.fontWeight( @h2_font_font_weight );
	.textTransform( @h2_font_text_transform );
	.fontVariant( @h2_font_font_variant );
	.fontStyle( @h2_font_font_style );
}
h3, .h3 {
	.fontSize( @h3_font_font_size );
	.fontFamilySecondary( @h3_font_font_family );
	.lineHeight( @h3_font_line_height );
	.fontWeight( @h3_font_font_weight );
	.textTransform( @h3_font_text_transform );
	.fontVariant( @h3_font_font_variant );
	.fontStyle( @h3_font_font_style );
}
h4, .h4 {
	.fontSize( @h4_font_font_size );
	.fontFamilySecondary( @h4_font_font_family );
	.lineHeight( @h4_font_line_height );
	.fontWeight( @h4_font_font_weight );
	.textTransform( @h4_font_text_transform );
	.fontVariant( @h4_font_font_variant );
	.fontStyle( @h4_font_font_style );
}
h5, .h5 {
	.fontSize( @h5_font_font_size );
	.fontFamilySecondary( @h5_font_font_family );
	.lineHeight( @h5_font_line_height );
	.fontWeight( @h5_font_font_weight );
	.textTransform( @h5_font_text_transform );
	.fontVariant( @h5_font_font_variant );
	.fontStyle( @h5_font_font_style );
}
h6, .h6 {
	.fontSize( @h6_font_font_size );
	.fontFamilySecondary( @h6_font_font_family );
	.lineHeight( @h6_font_line_height );
	.fontWeight( @h6_font_font_weight );
	.textTransform( @h6_font_text_transform );
	.fontVariant( @h6_font_font_variant );
	.fontStyle( @h6_font_font_style );
}
@media screen and (max-width: 767px) {
	h1, .h1 {
		.fontSize( @h1_font_font_size_mobile );
		.lineHeight( @h1_font_line_height_mobile );
	}	
	h2, .h2 {
		.fontSize( @h2_font_font_size_mobile );
		.lineHeight( @h2_font_line_height_mobile );
	}	
	h3, .h3 {
		.fontSize( @h3_font_font_size_mobile );
		.lineHeight( @h3_font_line_height_mobile );
	}	
	h4, .h4 {
		.fontSize( @h4_font_font_size_mobile );
		.lineHeight( @h4_font_line_height_mobile );
	}	
	h5, .h5 {
		.fontSize( @h5_font_font_size_mobile );
		.lineHeight( @h5_font_line_height_mobile );
	}	
	h6, .h6 {
		.fontSize( @h6_font_font_size_mobile );
		.lineHeight( @h6_font_line_height_mobile );
	}	
}
/**
	=====================================================================================================================================================
	Cites and blockquotes
	=====================================================================================================================================================
**/
blockquote {
	color: @color_headers_text;
	.fontFamilySecondary( @h4_font_font_family );
	font-style: italic;
	.img-blockquote( @color_blockquote_icon );
	background-size: 108px 80px;
	background-repeat: no-repeat;
	background-position: left top;
	padding: 30px 60px;
	.decrease-lineHeight( @h4_font_line_height, 0.8 );
	.increase-font-size( @primary_font_font_size, 3.2 );
	p {
		margin-bottom: 30px;
	}
	cite {
		font-style: normal;
		font-variant: small-caps;
		display: inline-block;
		line-height: normal;
		.fontSize( @primary_font_font_size );
	}
	.cite img {
		.rounded( 50% );
		float: left;
		margin-right: 30px;
	}
	.cite {
		display: block;
	}
	.cite.with-image {
		line-height: 70px;
		height: 70px;
	}
}
blockquote.white {
	background-color: @bg_alter;
	.img-blockquote( @bg_body );
	background-position: 10px 10px;
}
blockquote.white.center {
	background-color: @bg_alter;
	background-position: center 10px;
}
blockquote.center {
	.increase-lineHeight( @primary_font_line_height, 1.2 );	
	.increase-font-size( @primary_font_font_size, 2.0 );
	text-align: center;
	background-position: center top;
	font-style: normal;
	font-variant: small-caps;
	.fontFamilyPrimary( @primary_font_font_family );
	background-size: 80px 80px;
	.cite.with-image {
		height: auto;
		line-height: normal;
	}
	.cite img {
		float: none;
		display: inline-block;	
		margin-right: 0;
	}
	cite {
		display: block;
	}
}
@media screen and (max-width: 767px) {
	blockquote {
		line-height: 35px;
		.increase-font-size( @primary_font_font_size, 1.2 );
		background-size: 70px 52px;
		padding: 30px;
	}
}
/**
	=====================================================================================================================================================
	Forms
	=====================================================================================================================================================
**/

/**
	Placeholders
**/
::-webkit-input-placeholder { color: @color_placeholder; text-overflow: ellipsis; transition: text-indent 0.3s ease; }
::-moz-placeholder          { color: @color_placeholder; text-overflow: ellipsis; transition: text-indent 0.5s ease; }
:-moz-placeholder           { color: @color_placeholder; text-overflow: ellipsis; transition: text-indent 0.5s ease; }
:-ms-input-placeholder      { color: @color_placeholder; text-overflow: ellipsis; transition: text-indent 0.5s ease; }

:focus::-webkit-input-placeholder { text-indent: -100%; }
:focus::-moz-placeholder          { text-indent: -100%; }
:focus:-moz-placeholder           { text-indent: -100%; }
:focus:-ms-input-placeholder      { text-indent: -100%; }

/**
	Inputs
**/
input[type=text],
input[type=number],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=url],
textarea,
select {
	background: transparent;
	text-overflow: ellipsis;
	.fontSize( @primary_font_font_size );
	border: 0;
	padding: 12px 0;
	margin: 0;
	display: inline-block;
	position: relative;
	.fontFamilyPrimary( @primary_font_font_family );
	width: 100%;
	max-width: 100%;
	color: @color_accent_green;
}
textarea {
	min-height: 130px;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=url]:focus,
textarea:focus,
select:focus {
	color: @color_accent_green;
}
.input-wrapper:hover {
	::-webkit-input-placeholder { color: @color_accent_green; }
	::-moz-placeholder          { color: @color_accent_green; }
	:-moz-placeholder           { color: @color_accent_green; }
	:-ms-input-placeholder      { color: @color_accent_green; }
}
.input-wrapper {
	position: relative;
}
.input-wrapper::after {
	display: block;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -2px;
  content: '';
  .transition-all( 0.2s );
  background-color: @color_borders;
  height: 1px;
}
.input-wrapper.hovered::after {
	background-color: @color_accent_green;
	height: 2px;
	bottom: -3px;
	-webkit-animation: inputPseudoBorderWidth 0.5s ease;
	-moz-animation: inputPseudoBorderWidth 0.5s ease;
	-o-animation: inputPseudoBorderWidth 0.5s ease;
	animation: inputPseudoBorderWidth 0.5s ease;
}

.form-orange {
	input[type=text],
	input[type=number],
	input[type=password],
	input[type=email],
	input[type=search],
	input[type=tel],
	input[type=url],
	textarea,
	select {
		color: @color_accent_orange;
	}
	input[type=text]:focus,
	input[type=number]:focus,
	input[type=password]:focus,
	input[type=email]:focus,
	input[type=search]:focus,
	input[type=tel]:focus,
	input[type=url]:focus,
	textarea:focus,
	select:focus {
		color: @color_accent_orange;
	}
	.input-wrapper:hover {
		::-webkit-input-placeholder { color: @color_accent_orange; }
		::-moz-placeholder          { color: @color_accent_orange; }
		:-moz-placeholder           { color: @color_accent_orange; }
		:-ms-input-placeholder      { color: @color_accent_orange; }
	}
	.input-wrapper.hovered::after {
		background-color: @color_accent_orange;
	}
}

.form-yellow {
	input[type=text],
	input[type=number],
	input[type=password],
	input[type=email],
	input[type=search],
	input[type=tel],
	input[type=url],
	textarea,
	select {
		color: @color_accent_yellow;
	}
	input[type=text]:focus,
	input[type=number]:focus,
	input[type=password]:focus,
	input[type=email]:focus,
	input[type=search]:focus,
	input[type=tel]:focus,
	input[type=url]:focus,
	textarea:focus,
	select:focus {
		color: @color_accent_yellow;
	}
	.input-wrapper:hover {
		::-webkit-input-placeholder { color: @color_accent_yellow; }
		::-moz-placeholder          { color: @color_accent_yellow; }
		:-moz-placeholder           { color: @color_accent_yellow; }
		:-ms-input-placeholder      { color: @color_accent_yellow; }
	}
	.input-wrapper.hovered::after {
		background-color: @color_accent_yellow;
	}
}

@-webkit-keyframes inputPseudoBorderWidth {
	0% {
		width: 100%;
	}
	50% {
		width: 0;
	}
  100% {
		width: 100%;
  }
}

@keyframes inputPseudoBorderWidth {
	0% {
		width: 100%;
	}
	50% {
		width: 0;
	}
  100% {
		width: 100%;
  }
}

.fw-form-errors, .ninja-forms-field-error p, .form-error {
	margin-bottom: 0;
	.decrease-font-size( @primary_font_font_size, 0.2 );
	padding-top: 14px;
	color: red !important;
	line-height: 1.25em;
}

.ninja-forms-response-msg, .ninja-forms-required-items {
	margin-bottom: 18px;
}

/**
	Unyson Forms
**/
.form-builder-item {
	margin-bottom: 35px;
	sup {
		display: none;
	}
	.options label {
		margin-bottom: 0 !important;
	}
	.options input {
		vertical-align: top !important;
	}
	.options {
		margin-bottom: 7px;
	}
	.options:last-of-type {
		margin-bottom: 0;
	}
	em {
		color: @color_alt_text;
		.decrease-font-size( @primary_font_font_size, 0.2 );
		line-height: 1em;
	}
}

.fw-form-loading {
	display: none !important;
}

.form-background .fw-flash-type-success {
	list-style: none;
	margin: 0 0 35px 0;
	padding: 0;
	li {
		color: #fff;
		.increase-font-size( @primary_font_font_size, 3.2 );
		line-height: 1.2em;
	}
}

.form-background .form-error {
	color: #fff !important;
}

/**
	=====================================================================================================================================================
	Buttons
	=====================================================================================================================================================
**/
/**
	Default Button, Yello
**/
.button, button, input[type=button], input[type=submit], input[type=reset], #comments-nav a, .pagination a {
	.increase-font-size( @primary_font_font_size, 0.2 );
	.decrease-lineHeight( @primary_font_line_height, 2 );
	.fontFamilyPrimary( @primary_font_font_family );
	font-variant: small-caps;
	background: transparent;
	border: 5px solid @color_accent_yellow;
	display: inline-block;
	cursor: pointer;
	color: @color_accent_yellow;
	padding: 14px 50px;
	.rounded( 30px );
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	.transition-all( 0.5s );
	outline: none;
	text-align: center;
}
.button:hover, button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover,
.button:hover, button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover,
#comments-nav a:hover, .pagination a:hover {
	outline: none;
}
.button::before, button::before, input[type=button]::before, input[type=submit]::before, input[type=reset]::before,
#comments-nav a::before, .pagination a::before {
	content: '';
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 100%;
	margin: -15px 0 0 1px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: @color_accent_yellow;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: scale3d(1, 2, 1);
	transform: scale3d(1, 2, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
	transition-timing-function: cubic-bezier(0.7,0,0.9,1);
}
.button:hover, button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover,
#comments-nav a:hover, .pagination a:hover {
	color: @color_accent_inner !important;
	background-color: @color_accent_yellow;
}
.button:hover::before, button:hover::before, input[type=button]:hover::before, input[type=submit]:hover::before, input[type=reset]:hover::before,
#comments-nav a:hover::before, .pagination a:hover::before {
	-webkit-transform: scale3d(9, 9, 1);
	transform: scale3d(9, 9, 1);
}
/**
	Large Button
**/
.button.large, button.large, input[type=button].large, input[type=submit].large, input[type=reset].large {
	.increase-font-size( @primary_font_font_size, 1.4 );
	.increase-lineHeight( @primary_font_line_height, 14 );	
	padding: 18px 50px 14px 50px;
	.rounded( 40px );
}
.button.large::before, button.large::before, input[type=button].large::before, input[type=submit].large::before, input[type=reset].large::before {
	width: 40px;
	height: 40px;
	margin: -25px 0 0 1px;
}
/**
	Blue Button
**/
.button.blue, button.blue, input[type=button].blue, input[type=submit].blue, input[type=reset].blue {
	border-color: @color_accent_blue;	
	color: @color_accent_blue;
}
.button.blue::before, button.blue::before, input[type=button].blue::before, input[type=submit].blue::before, input[type=reset].blue::before {
	background: @color_accent_blue;
}
.button.blue:hover, button.blue:hover, input[type=button].blue:hover, input[type=submit].blue:hover, input[type=reset].blue:hover,
.button.blue.inverted, .table-button .button.blue {
	background-color: @color_accent_blue;
}
.button.blue.inverted, .table-button .button.blue {
	color: @color_accent_inner;
}
.button.blue.inverted:hover, .table-button .button.blue:hover {
	background-color: darken( @color_accent_blue, 10% );
	border-color: darken( @color_accent_blue, 10% );
}
.button.blue.inverted::before, .table-button .button.blue::before {
	display: none !important;
}
/**
	Purple Button
**/
.button.purple, button.purple, input[type=button].purple, input[type=submit].purple, input[type=reset].purple {
	border-color: @color_accent_purple;	
	color: @color_accent_purple;
}
.button.purple::before, button.purple::before, input[type=button].purple::before, input[type=submit].purple::before, input[type=reset].purple::before {
	background: @color_accent_purple;
}
.button.purple:hover, button.purple:hover, input[type=button].purple:hover, input[type=submit].purple:hover, input[type=reset].purple:hover,
.button.purple.inverted, .table-button .button.purple {
	background-color: @color_accent_purple;
}
.button.purple.inverted, .table-button .button.purple {
	color: @color_accent_inner;
}
.button.purple.inverted:hover, .table-button .button.purple:hover {
	background-color: darken( @color_accent_purple, 10% );
	border-color: darken( @color_accent_purple, 10% );
}
.button.purple.inverted::before, .table-button .button.purple::before {
	display: none !important;
}
/**
	Green Button
**/
.button.green, button.green, input[type=button].green, input[type=submit].green, input[type=reset].green,
#comments-nav a, .pagination a {
	border-color: @color_accent_green;	
	color: @color_accent_green;
}
.button.green::before, button.green::before, input[type=button].green::before, input[type=submit].green::before, input[type=reset].green::before,
#comments-nav a::before, .pagination a::before {
	background: @color_accent_green;
}
.button.green:hover, button.green:hover, input[type=button].green:hover, input[type=submit].green:hover, input[type=reset].green:hover,
.button.green.inverted, #comments-nav a:hover, .pagination a:hover,
.table-button .button.green {
	background-color: @color_accent_green;
}
.button.green.inverted, .table-button .button.green {
	color: @color_accent_inner;
}
.button.green.inverted:hover, .table-button .button.green:hover {
	background-color: darken( @color_accent_green, 10% );
	border-color: darken( @color_accent_green, 10% );
}
.button.green.inverted::before, .table-button .button.green::before {
	display: none !important;
}
/**
	Green Alternate Button
**/
.button.green-alt, button.green-alt, input[type=button].green-alt, input[type=submit].green-alt, input[type=reset].green-alt {
	border-color: @color_accent_green_alt;	
	color: @color_accent_green_alt;
}
.button.green-alt::before, button.green-alt::before, input[type=button].green-alt::before, input[type=submit].green-alt::before, input[type=reset].green-alt::before {
	background: @color_accent_green_alt;
}
.button.green-alt:hover, button.green-alt:hover, input[type=button].green-alt:hover, input[type=submit].green-alt:hover, input[type=reset].green-alt:hover,
.button.green-alt.inverted, .table-button .button.green-alt {
	background-color: @color_accent_green_alt;
}
.button.green-alt.inverted, .table-button .button.green-alt {
	color: @color_accent_inner;
}
.button.green-alt.inverted:hover, .table-button .button.green-alt:hover {
	background-color: darken( @color_accent_green_alt, 10% );
	border-color: darken( @color_accent_green_alt, 10% );
}
.button.green-alt.inverted::before, .table-button .button.green-alt::before {
	display: none !important;
}
/**
	Orange Button
**/
.button.orange, button.orange, input[type=button].orange, input[type=submit].orange, input[type=reset].orange {
	border-color: @color_accent_orange;	
	color: @color_accent_orange;
}
.button.orange::before, button.orange::before, input[type=button].orange::before, input[type=submit].orange::before, input[type=reset].orange::before {
	background: @color_accent_orange;
}
.button.orange:hover, button.orange:hover, input[type=button].orange:hover, input[type=submit].orange:hover, input[type=reset].orange:hover,
.button.orange.inverted, .table-button .button.orange {
	background-color: @color_accent_orange;
}
.button.orange.inverted, .table-button .button.orange {
	color: @color_accent_inner;
}
.button.orange.inverted:hover, .table-button .button.orange:hover {
	background-color: darken( @color_accent_orange, 10% );
	border-color: darken( @color_accent_orange, 10% );
}
.button.orange.inverted::before, .table-button .button.orange::before {
	display: none !important;
}
/**
	Pink Button
**/
.button.pink, button.pink, input[type=button].pink, input[type=submit].pink, input[type=reset].pink {
	border-color: @color_accent_pink;	
	color: @color_accent_pink;
}
.button.pink::before, button.pink::before, input[type=button].pink::before, input[type=submit].pink::before, input[type=reset].pink::before {
	background: @color_accent_pink;
}
.button.pink:hover, button.pink:hover, input[type=button].pink:hover, input[type=submit].pink:hover, input[type=reset].pink:hover,
.button.pink.inverted, .table-button .button.pink {
	background-color: @color_accent_pink;
}
.button.pink.inverted, .table-button .button.pink {
	color: @color_accent_inner;
}
.button.pink.inverted:hover, .table-button .button.pink:hover {
	background-color: darken( @color_accent_pink, 10% );
	border-color: darken( @color_accent_pink, 10% );
}
.button.pink.inverted::before, .table-button .button.pink::before {
	display: none !important;
}
/**
	Gray Button
**/
.button.gray, button.gray, input[type=button].gray, input[type=submit].gray, input[type=reset].gray,
#comments-nav .nav-previous a, .pagination a:first-child {
	border-color: @color_accent_gray;	
	color: @color_accent_gray;
}
.button.gray::before, button.gray::before, input[type=button].gray::before, input[type=submit].gray::before, input[type=reset].gray::before,
#comments-nav .nav-previous a::before, .pagination a:first-child::before {
	background: @color_accent_gray;
}
.button.gray:hover, button.gray:hover, input[type=button].gray:hover, input[type=submit].gray:hover, input[type=reset].gray:hover,
.button.gray.inverted,
#comments-nav .nav-previous a:hover, .pagination a:first-child:hover,
.table-button .button.gray {
	background-color: @color_accent_gray;
}
.button.gray.inverted, .table-button .button.gray {
	color: @color_accent_inner;
}
.button.gray.inverted:hover, .table-button .button.gray:hover {
	background-color: darken( @color_accent_gray, 10% );
	border-color: darken( @color_accent_gray, 10% );
}
.button.gray.inverted::before, .table-button .button.gray::before {
	display: none !important;
}
/**
	Black Button
**/
.button.black, button.black, input[type=button].black, input[type=submit].black, input[type=reset].black {
	border-color: @color_accent_black;	
	color: @color_accent_black;
}
.button.black::before, button.black::before, input[type=button].black::before, input[type=submit].black::before, input[type=reset].black::before {
	background: @color_accent_black;
}
.button.black:hover, button.black:hover, input[type=button].black:hover, input[type=submit].black:hover, input[type=reset].black:hover,
.button.black.inverted, .table-button .button.black {
	background-color: @color_accent_black;
}
.button.black.inverted, .table-button .button.black {
	color: @color_accent_inner;
}
.button.black.inverted:hover, .table-button .button.black:hover {
	background-color: darken( @color_accent_black, 10% );
	border-color: darken( @color_accent_black, 10% );
}
.button.black.inverted::before, .table-button .button.black::before {
	display: none !important;
}
/**
	Red Button
**/
.button.red, button.red, input[type=button].red, input[type=submit].red, input[type=reset].red {
	border-color: @color_accent_red;	
	color: @color_accent_red;
}
.button.red::before, button.red::before, input[type=button].red::before, input[type=submit].red::before, input[type=reset].red::before {
	background: @color_accent_red;
}
.button.red:hover, button.red:hover, input[type=button].red:hover, input[type=submit].red:hover, input[type=reset].red:hover,
.button.red.inverted, .table-button .button.red {
	background-color: @color_accent_red;
}
.button.red.inverted, .table-button .button.red {
	color: @color_accent_inner;
}
.button.red.inverted:hover, .table-button .button.red:hover {
	background-color: darken( @color_accent_red, 10% );
	border-color: darken( @color_accent_red, 10% );
}
.button.red.inverted::before, .table-button .button.red::before {
	display: none !important;
}
/**
	Turquoise Button
**/
.button.turquoise, button.turquoise, input[type=button].turquoise, input[type=submit].turquoise, input[type=reset].turquoise {
	border-color: @color_accent_turquoise;	
	color: @color_accent_turquoise;
}
.button.turquoise::before, button.turquoise::before, input[type=button].turquoise::before, input[type=submit].turquoise::before, input[type=reset].turquoise::before {
	background: @color_accent_turquoise;
}
.button.turquoise:hover, button.turquoise:hover, input[type=button].turquoise:hover, input[type=submit].turquoise:hover, input[type=reset].turquoise:hover,
.button.turquoise.inverted, .table-button .button.turquoise {
	background-color: @color_accent_turquoise;
}
.button.turquoise.inverted, .table-button .button.turquoise {
	color: @color_accent_inner;
}
.button.turquoise.inverted:hover, .table-button .button.turquoise:hover {
	background-color: darken( @color_accent_turquoise, 10% );
	border-color: darken( @color_accent_turquoise, 10% );
}
.button.turquoise.inverted::before, .table-button .button.turquoise::before {
	display: none !important;
}
/**
	Violet Button
**/
.button.violet, button.violet, input[type=button].violet, input[type=submit].violet, input[type=reset].violet {
	border-color: @color_accent_violet;	
	color: @color_accent_violet;
}
.button.violet::before, button.violet::before, input[type=button].violet::before, input[type=submit].violet::before, input[type=reset].violet::before {
	background: @color_accent_violet;
}
.button.violet:hover, button.violet:hover, input[type=button].violet:hover, input[type=submit].violet:hover, input[type=reset].violet:hover,
.button.violet.inverted, .table-button .button.violet {
	background-color: @color_accent_violet;
}
.button.violet.inverted, .table-button .button.violet {
	color: @color_accent_inner;
}
.button.violet.inverted:hover, .table-button .button.violet:hover {
	background-color: darken( @color_accent_violet, 10% );
	border-color: darken( @color_accent_violet, 10% );
}
.button.violet.inverted::before, .table-button .button.violet::before {
	display: none !important;
}
/**
	Pink Alternate Button
**/
.button.pink-alt, button.pink-alt, input[type=button].pink-alt, input[type=submit].pink-alt, input[type=reset].pink-alt {
	border-color: @color_accent_pink_alt;	
	color: @color_accent_pink_alt;
}
.button.pink-alt::before, button.pink-alt::before, input[type=button].pink-alt::before, input[type=submit].pink-alt::before, input[type=reset].pink-alt::before {
	background: @color_accent_pink_alt;
}
.button.pink-alt:hover, button.pink-alt:hover, input[type=button].pink-alt:hover, input[type=submit].pink-alt:hover, input[type=reset].pink-alt:hover,
.button.pink-alt.inverted, .table-button .button.pink-alt {
	background-color: @color_accent_pink_alt;
}
.button.pink-alt.inverted, .table-button .button.pink-alt {
	color: @color_accent_inner;
}
.button.pink-alt.inverted:hover, .table-button .button.pink-alt:hover {
	background-color: darken( @color_accent_pink_alt, 10% );
	border-color: darken( @color_accent_pink_alt, 10% );
}
.button.pink-alt.inverted::before, .table-button .button.pink-alt::before {
	display: none !important;
}
.demo-buttons .button {
	margin-right: 10px;
	margin-bottom: 10px;
}
/**
	Video play button
**/
.button-video-play {
	display: inline-block;
	.box-sizing();
	width: 100px;
	height: 100px;
	.img-video( #fff );
	background-size: 100% 100%;
	background-repeat: no-repeat;
	.transition( transform .4s ease-in-out );
}
.button-video-play:hover {
	.img-video-hover( @color_accent_blue, @color_accent_green );
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

/**
	Swiper pagination
**/
.swiper-pagination {
	display: block;
	padding: 80px 0 0 0;
	text-align: center;
	.swiper-pagination-bullet {
		display: inline-block;
		width: 11px;
		height: 11px;
		.rounded( 50% );
		background-color: @color_borders_light;
		cursor: pointer;
		margin: 0 5px;
	}
	.swiper-pagination-bullet:hover,
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background-color: @color_accent_green;
	}
}
.style-yellow .swiper-pagination {
	.swiper-pagination-bullet:hover,
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background-color: @color_accent_yellow;
	}
}
.style-orange .swiper-pagination {
	.swiper-pagination-bullet:hover,
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background-color: @color_accent_orange;
	}
}
/**
	=====================================================================================================================================================
	Demo styles
	=====================================================================================================================================================
**/
.page-template-page-template-demo {
	.demo-creative {
		background: url(../../images/01_agency_bg.jpg) center center; 
	}
	.demo-app {
		background: url(../../images/02_app_bg.jpg) center center; 
	}
	.demo-personal {
		background: url(../../images/03_personal_bg.jpg) center center; 
	}
	.col {
		overflow: hidden;
	}
	.col, .col .images {
		min-height: 400px;
		position: relative;
	}
	.col .images {
		img {
			position: absolute;
			bottom: -20px;
			.transition-all( .3s );
		}
		img.phone {
			z-index: 10;
			left: 0;
		}
		img.browser {
			z-index: 9;
			right: 0;
		}
	}
	.row:hover {
		img {
			bottom: 0;
		}
	}
	.text {
		padding-top: 90px;
	}
	h3 {
		.font-size( 5 );
		line-height: 1.1em;
		margin: 20px 0 25px 0;
		a {
			color: #fff;
		}
	}
}

@media screen and (max-width: 992px) {
	.page-template-page-template-demo {
		.text {
			text-align: center;
		}
	}
}

@media screen and (max-width: 345px) {
	.page-template-page-template-demo {
		.text {
			padding-top: 60px;
		}
	}
}
/**
	=====================================================================================================================================================
	Video background styles
	=====================================================================================================================================================
**/
.video-bg-section {
  position: relative;
  
	.background-video {
	  background-position: top center;
	  background-repeat: no-repeat;
	  bottom: 0;
	  left: 0;
	  overflow: hidden;
	  position: fixed;
	  right: 0;
	  top: 0;
	}
	
	video,
	source {
	  bottom: 0;
	  left: 0;
	  min-height: 100%;
	  min-width: 100%;
	  position: absolute;
	}
	
	.ytplayer-container {
	  bottom: 0;
	  height: 100%;
	  left: 0;
	  min-width: 100%;
	  overflow: hidden;
	  position: absolute;
	  right: 0;
	  top: 0;
	  z-index: 0;
	}
	
	.placeholder-image {
	  height: 100%;
	  left: 0;
	  min-height: 100%;
	  min-width: 100%;
	  position: fixed;
	  top: 0;
	  z-index: 1;
	
	  opacity: 1;
	  transition: opacity .25s ease-in-out;
	  -moz-transition: opacity .25s ease-in-out;
	  -webkit-transition: opacity .25s ease-in-out;
	}
	
	.ytplayer-shield {
	  height: 100%;
	  left: 0;
	  position: absolute;
	  top: 0;
	  width: 100%;
	  z-index: 2;
	}
	
	.ytplayer-player {
	  position: absolute;
	}
  
}
.video-bg-section.loaded {
	.ytplayer-container {
	  display: block;
	}
	.placeholder-image {
	  opacity: 0;
	}
}
.responsive-video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.responsive-video-wrapper iframe, .responsive-video-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}